@import "./variables";

@mixin mobile_only {
  @media (max-width: #{$breakpoint-mobile}) { @content; }
}
@mixin mobile_tablet {
  @media (min-width: #{$breakpoint-mobile_tablet}) and (max-width: #{$breakpoint-tablet - 1px}) { @content; }
}
@mixin tablet{
  @media (max-width: #{$breakpoint-tablet}) { @content; }
}
@mixin tablet_only{
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) { @content; }
}
@mixin desktop{
  @media (max-width: #{$breakpoint-desktop}) { @content; }
}
@mixin desktop_only{
  @media (min-width: #{$breakpoint-desktop}) { @content; }
}
@mixin blind{
  font-size:0;line-height:0;position:absolute!important;left:0;top:0;text-indent:-9999px;visibility:hidden;overflow:hidden;
}
@mixin ipt_common{
  width:100%;padding:2px;border:1px solid #c5c5c5;border-radius:2px;vertical-align:middle;background:#fff;
}
@mixin f_blind{
  font-size:0!important;line-height:0;color:transparent!important;overflow:hidden;
}
@mixin alignL($numbers){
  @each $num in $numbers{
   &:nth-of-type(#{$num}){text-align:left;}
  } 
}

@mixin flex_between{display:flex;justify-content:space-between;align-items:center;}
@mixin flex_layout{display:flex;justify-content:space-between;gap:$columnGap;@content;}
@mixin vh_y_scroll($h:null){height:100%;min-height:$h;overflow-y:auto;@content;}
@mixin full{display:block;width:100%!important;min-width:auto;}

@mixin badge_style($max_w:null,$w:null){display:inline-block;width:$w; max-width:$max_w;color:#fff;font-size:12px;letter-spacing:-.3px;text-align:center;border-radius:5px;
border:1px solid transparent;align-self:center;@content;}
@mixin badge_color($color){border-color:$color;color:#fff;background:$color;}
@mixin shape($w_size,$h_size){
  display:inline-block;content:"";@include f_blind;overflow:hidden;
  width:$w_size;height:$h_size;
}
@mixin divide($h:10px,$gap:5px){
  position:relative;display:inline-flex;align-items:center;
  &::before{@include shape(1px,$h);background-color:$gray;margin:0 15px 0 #{15 - $gap};}
}
@mixin fontello($ic){
  display:inline-block;font-family:"fontello";font-weight:normal;content:$ic;@content;
}
@mixin ico_only($font:none){font-size:0;vertical-align:middle;line-height:1;@content;
  @if($font != null){
    &::before{@include fontello($font);font-size:13px;color:#848890;}
  }
}
@mixin btn($color,$addTxt:false,$hover:true){  
  display:inline-block;line-height:26px;border:1px solid $color;border-radius:2px;padding:0 8px;cursor:pointer;color:$color;font-weight:bold;letter-spacing:-.32px;background-color:#fff;
  @if($hover){
    &:hover,&:hover::before{color:#fff;background-color:$color;}
  }
  @if($addTxt){
    &::before{
      color:$color;font-size:15px;margin-right:3px;
    }
  }
}
@mixin img_btn($w,$h,$url){@include ico_only();@content;
  &::before{@include shape($w,$h);background:url(../images/#{$url});vertical-align:inherit;}
}
@mixin cancel($w:15px,$h:18px,$color:#fff){position:relative;align-self:center;width:$w;height:$h;font-size:0;
  &::before,&::after{position:absolute;top:0;display:inline-block;content:'';width:2px;height:$h;background-color:$color;}
  &::before{transform:rotate(45deg);}
  &::after{transform:rotate(135deg);}
  &:hover::before,
  &:hover::after{box-shadow:0 0 2px darken($color: $color, $amount:.5);}
}
@mixin full_btn($color){  
  line-height:26px;border:1px solid darken($color, 5%);background-color:$color;border-radius:2px;padding:0 8px;cursor:pointer;font-weight:bold;letter-spacing:-.32px;color:#fff;
  &:hover,&:hover::before{border-color:$color;background-color:#fff;color:darken($color, 5%);}
}
@mixin form_btn{
  line-height:23px;border:1px solid #aaa;border-radius:2px;padding:0 7px;font-size:12px;cursor:pointer;
  &:hover{color:#fff;}
}
@mixin form_label{font-size:13px;font-weight:bold;color:#111;}

@mixin btn_switch_group($def,$hover,$checked){display:inline-flex;vertical-align:middle;
  input{position:absolute;flex:1;opacity:0;
    &+label{flex:1;cursor:pointer;border:1px solid $checked;border-left-width:0;font-size:13px;font-weight:bold;color:$hover;text-align:center;line-height:26px;background-color:$white;}
    &+label:first-of-type{border-left-width:1px;border-radius:3px 0 0 3px;}
    &+label:last-of-type{border-radius:0 3px 3px 0;}
    &:hover+label{background-color:$def;color:$white;}
    &:checked+label{color:$white;background-color:$hover;transition:0.5s;}
  }
}

@mixin btn_square($font){@include shape(28px,28px);background-color:#eaedf1;border-radius:2px;text-align:center;border:1px solid #c5c5c5;cursor:pointer;
  &::before{@include fontello($font);font-size:13px;color:#848890;line-height:24px;}
  &:hover{background-color:$white;box-shadow:0 0 3px rgba(0, 0, 0, .2);}
}

%ico_ext{display:inline-block;width:17px;height:17px;background-image:url(../images/ico_fileExt.png);background-repeat:no-repeat;vertical-align:middle;font-size:0;overflow:hidden;text-indent:-9999px;}
@mixin ico_ext($x,$y){background-position:#{$x} #{$y};@extend %ico_ext;}

@mixin box_style($w_pd,$h_pd){background-color:#edf0f3;padding:$h_pd $w_pd;border-radius:5px;
  header{@include flex_between;margin-bottom:if($h_pd >= 20, 15px, 12px);
    &:only-child,
    &:empty{margin-bottom:0;}
  }
  h1{font-weight:bold;font-size:if($h_pd >= 20,16px,null);}
  h2{font-weight:bold;}
}
@mixin inner_box($pw:12px,$ph:15px){position:relative;background-color:$white;border-radius:5px;padding:$pw $ph;box-shadow:0 0 5px rgba(0, 0, 0, 0.07);
  &:hover{box-shadow:0 0 5px rgba(3, 3, 3, .2);}
  &.unidentified{background-color:#fffeed;
    strong::after{@include newmark;}
  }
  strong{display:block;color:#404654;font-size:13px;letter-spacing:-.33px;}
  a{display:flex;flex-direction:column;font-size:12px;color:#717889;letter-spacing:-.3px;}
  span{display:inline-block;line-height:16px;}
}
@mixin newmark{@include badge_style();content:"N";background-color:$red;width:17px;font-size:10px;margin-left:3px;}

@mixin tit{font-size:16px;color:#000;font-weight:bold;margin-bottom:15px;}
@mixin tit_bullet($target,$size:6){
  #{$target}{@include tit;font-weight:500;
    &::before{position:relative;top:-3px;display:inline-block;@include shape(#{$size}px,#{$size}px);margin-right:7px;border-radius:50%;background-color:#c4c4c4;}
    @content;
  }
  @if($size < 4){
    #{$target}{font-size:13px;margin-bottom:0;}
  }
}

@mixin explanation{display:block;margin-top:5px;font-size:12px;font-weight:normal;
  @content;
  b{font-weight:bold;}
  &::before{@include fontello('\e877');margin:0 5px;color:#848890;font-size:14px;vertical-align:middle;}
}

@mixin stamp($color){display:inline-flex;justify-content: center;align-items: center;width:40px;height:40px;
  border:2px solid $color;border-radius:50%;
  b{transform:rotate(-25deg);color:$color;font-weight:bold;letter-spacing:-.5px;font-size:15px;}
}
@mixin empty_box($con){display:flex;justify-content:center;align-items:center;height:100%;content:$con;padding:10px 5px;border-radius:3px;background-color:#ececec;font-size:13px;color:#777;}

@mixin user_lst{display:flex;flex-direction:column;gap:5px;
  li{display:flex;align-items:center;} 
}

@mixin text_ellipsis($line:1){text-overflow:ellipsis;white-space:normal;overflow:hidden;display:-webkit-box;-webkit-line-clamp:$line;-webkit-box-orient:vertical;}

@mixin form_style(){flex-grow:1;min-width:900px;}
@mixin set_style($type:true){width:400px;min-width:400px;@content;
  & > .box_default_w{margin-top:10px;
    &:last-of-type{margin-bottom:10px;}
    @if($type){&:first-of-type{margin-top:0;}}
  }
  .set_list{@include tit_bullet(dt);display:grid;grid-template:auto / 100px 1fr;align-items:center;row-gap:7px;
    dt{font-size:14px;margin-bottom:0;}
  }  
}
@mixin tilde(){
  display:inline-flex;justify-content:space-between;gap:20px;position:relative;vertical-align:middle;
  &::before{content:"~";position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
}