// Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-mobile_tablet: 1024px;
$breakpoint-tablet: 1300px;
$breakpoint-desktop: 1600px;

//color
$report_blue:#f1f8ff;
$report_yellow:#fffae9;
$report_gray:#f5f5f5;
$proj_blue:#deedfc;
$proj_yellow:#f9f2b4;
$proj_pink:#ffecec;
$proj_green:#dfedc7;
$proj_gray:#edf0f3;