@import "./mixin";
@font-face {
  font-family:'NanumGothic';
  font-style:normal;
  font-weight:400;
  src:url('../font/nanum_gothic/NanumGothic-Regular.eot');
  src:url('../font/nanum_gothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/nanum_gothic/NanumGothic-Regular.woff2') format('woff2'),
       url('../font/nanum_gothic/NanumGothic-Regular.woff') format('woff'),
       url('../font/nanum_gothic/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
  font-family:'NanumGothic';
  font-style:normal;
  font-weight:700;
  src:url('../font/nanum_gothic/NanumGothic-Bold.eot');
  src:url('../font/nanum_gothic/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/nanum_gothic/NanumGothic-Bold.woff2') format('woff2'),
       url('../font/nanum_gothic/NanumGothic-Bold.woff') format('woff'),
       url('../font/nanum_gothic/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family:'NanumGothic';
  font-style:normal;
  font-weight:800;
  src:url('../font/nanum_gothic/NanumGothic-ExtraBold.eot');
  src:url('../font/nanum_gothic/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../font/nanum_gothic/NanumGothic-ExtraBold.woff2') format('woff2'),
       url('../font/nanum_gothic/NanumGothic-ExtraBold.woff') format('woff'),
       url('../font/nanum_gothic/NanumGothic-ExtraBold.ttf') format('truetype');
}

*{margin:0;padding:0;font:inherit;color:inherit;font-family:'NanumGothic';}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas{display:block;max-width:100%;}
img{display:inline-block;}
button {background:none;border:0;cursor:pointer;vertical-align:middle;}
a {text-decoration:none;cursor:pointer;}
table {border-collapse:collapse;border-spacing:0}
caption{@include blind;}
ul,ol,li{box-sizing:border-box;list-style:none;margin:0;}
strong{font-weight:bold;} // 웹에디터 용
[contenteditable]{cursor:text;}
/* accessibility */
#accessibility{position:absolute;width:100%;z-index:999;
  a{
    display:block;width:1px;height:0;margin-bottom:-1px;overflow:hidden;text-align:center;color:#fff;
    &:focus,&:active{width:100%;height:auto;padding:5px 0;background:#09f;}
  }
}

// color
$white:#fff;
$black:#363636;
$red:#e42b29;
$skyblue:#05b4d9;
$blue:#2974e4;
$yellow:#ff9702;
$gray:#999;

$draft:#30b4e9; // 상신 
$ing:#2974e4; // 진행중 수행중 진행 결재진행 전결
$fin:#35b821; // 승인 결재완료 종료
$agree:#be68e0; // 합의
$reject:#ff7575; // 회수 반려
$wait:#f0a44f; // 준비 결재대기
$defer:#f58d39; // 후결대기
$done:#55b2b7; // 후결
$cc:#8867c9; // 참조
$relay:#c94b9f; // 전달

//task
$task_ing:#2ea3fc;
$task_plan:#b179ea;
$task_done:#9fadb8;
$task_cancel:#e68fba;
$task_hold:#2cc78b;

 // 기본 배경용
.draft{@include badge_color($draft)} // 상신
.ing{@include badge_color($ing)} // 진행중 수행중 진행 결재진행
.approve,
.fin{@include badge_color($fin)} // 수락 승인 결재완료 종료
.agree{@include badge_color($agree)} // 합의
.return,
.reject{@include badge_color($reject)} // 회수 반려
.ready,
.wait{@include badge_color($wait)} // 준비 결재대기
.defer{@include badge_color($defer)} // 후결대기
.done{@include badge_color($done)} // 전결 후결
.cc{@include badge_color($cc)} // 참조
.relay{@include badge_color($relay)} // 전달
.default{@include badge_color(#b6b6b6)}
.public{background-color:#fff;border-color:#7d879f!important;color:#7d879f !important;}
.private{background-color:#aab3c8;color:#fff !important;}
.tags{
  i{@include badge_style(){background-color:#aab3c8;padding:0 5px;font-size:11px;line-height:13px;}margin-right:3px;}
  &:is(span){display:inline-block;line-height:16px;margin-right:5px;margin-top:5px;border-radius:3px;background-color:#aab3c8;
    i{margin-left:0;
      &+button.btn_deltag{font-size:0;
        &::before{@include fontello('\eb2e');margin-right:5px;font-size:10px;color:#fff;vertical-align:middle;}
      }
    }
  }
}

// scroll
*{
  scrollbar-width:thin;
  &::-webkit-scrollbar {width:8px;}
  &::-webkit-scrollbar-thumb {background-color:#cdcdcd;}
  &::-webkit-scrollbar-track {background-color:#f0f0f0;box-shadow:inset 0px 0px 5px white;}
}

// font
.t{
  &_red{color:$red;}
  &_skyblue{color:$skyblue;}
}
$tit_spacing:.45px;

//align
.align{
  &C{text-align:center !important;}
  &L{text-align:left !important;}
  &R{text-align:right !important;}
}
.float{
  &L{float:left !important;}
  &R{float:right !important;}
}

.att::before{@include fontello('\e876');margin-right:10px;}
.info::before{@include fontello('\eaf1');margin-right:3px;}

//ipt custom
select,
textarea,
input[type="text"],
input[type="date"],
input[type="file"],
input[type="color"],
input[type="number"],
input[type="password"],
input[type="time"],
input[type="email"],
input[type="tel"]{@include ipt_common;min-height:28px;}
input[type="radio"],
input[type="checkbox"]{-webkit-appearance:none;-moz-appearance:none; -o-appearance:none;appearance:none;outline:none;box-shadow:none;vertical-align:middle;
width:13px!important;height:13px!important;border:1px solid #606060;
overflow:hidden;
  &:checked{-webkit-appearance:none; -moz-appearance:none;-o-appearance:none;appearance:none; box-shadow:none;border:none;
  background:url(../images/bg_ipt.png) 0 0 no-repeat;}
}
input[type="radio"]{border-radius:50%;}
input[type="checkbox"]{border-radius:2px;vertical-align:middle;}
input[type="radio"]:checked{background-position-y:-23px;}
@media print{
  input[type="radio"],
  input[type="checkbox"]{position:relative;
    &:checked{background:transparent;border:1px solid $red;
      &::before{position:absolute;z-index:0;top:-2px;left:1px;content:'\eb2d';font-family:'fontello';font-size:10px;color:$red;}
    }
  }
  input[type="radio"]:checked{background-position:-1px -24px;}
  input[type="checkbox"]:checked{background-position:-1px -1px;}
}
// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none;margin:0;}
// input[type="number"]{-moz-appearance:textfield;}
input[type="time"],
input[type="date"]{position:relative;}
input[type='time']::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator{position:relative;z-index:2;right:0;width:13px;height:14px;background:transparent;}
textarea{min-height:100px;max-height:300px;resize:none;}
input[list]::-webkit-calendar-picker-indicator,
select{-webkit-appearance:none;-moz-appearance:none;appearance:none;padding-right:20px;background:url(../images/btn_select.png) right 5px center no-repeat, rgba(255,255,255,.9);list-style:none!important;
  option:nth-of-type(1){color:#989898;}
}
progress{appearance:none;height:8px;
  &::-webkit-progress-bar {background:#edf0f3;border-radius:5px;}
  &::-webkit-progress-value{border-radius:10px;background:#ff6664;}
}
textarea.line1{height:28px;min-height:28px;}
input, select{
  &.w_day{width:30px;
    &+span{vertical-align:middle;}
  }
  &.w_week{width:60px;
    &+span{vertical-align:middle;}
  }
  &.w_money{width:200px;text-align:right;
    &+span{vertical-align:middle;}
  }
  &.w_auto{width:auto;}
}
input[type=number]{-moz-appearance:textfield;} // firefox hide arrrow
::-webkit-input-placeholder{color:$gray;}
:-ms-input-placeholder{color:$gray;}
::placeholder,
.opt_label,
select{color:$gray;}
select option{color:#333;}
optgroup.opt_label,
.opt_label option{display:none;}
label>input[type="radio"],
label>input[type="checkbox"]{position:relative;top:-1px;margin-right:5px;vertical-align:middle;}
input[type="number"]::-webkit-inner-spin-button {appearance:none;-moz-appearance:none;-webkit-appearance:none;}
[contenteditable]{white-space:initial;text-align:left;}
table:has([contenteditable]){table-layout:fixed;}
// layout
hr,
.blind{@include blind}
.f_blind{@include f_blind;}

.clearfix{*zoom:1;
  &::before,
  &::after{display:block;content:"";line-height:0;}
  &::after{clear:both;}
}

.full{@include full;}
.scroll{overflow-y:scroll;background-color:#f5f5f5;}

//badge
.i_badge{@include shape(20px,20px);display:inline-flex !important;align-items:center;justify-content:center;border:1px solid transparent;line-height:20px !important;border-radius:50%;vertical-align:middle;
  &::before{font-size:14px;}
}
.tag_pm{@include badge_style(null,22px){position:relative;top:2px;background-color:#ffc938;color:#000;line-height:14px;font-size:10px;border-radius:0;font-weight:bold;}}
// ico_fontello
.ico_org{vertical-align:middle;
  &::before{font-size:17px;vertical-align:middle;}
  &.use::before{@include fontello('\e903');color:#00b5da;} 
  &.wait::before{@include fontello('\eb74');color:#f0a44f;}
  &.suspension::before{@include fontello('\eb6f');color:#ff6363;}
}
.tbl_wrap .ico_org{font-size:0;}
input[type="time"],
input[type="date"]{
  &::after{position:absolute;z-index:1;right:5px;top:50%;transform:translateY(-50%);color:$red;}
}
input[type="date"]::after{@include fontello('\f133');font-size:15px;}
input[type="time"]::after{@include fontello('\eb02');font-size:18px;}
.period_custom{display:inline-flex;justify-content:space-between;gap:20px;position:relative;vertical-align:middle;
  input{width:auto;}
  &>*:first-child{position:relative;overflow:visible;
    &::before{content:"~";position:absolute;right:-19px;top:50%;transform:translate(-50%,-50%);}
  }
  &>span{display:inline-flex;gap:3px;}
}
.split_area{@include flex_between();}

//btn
.btn_wrap{display:flex;gap:4px;
  .more{color:#9ea4ae;letter-spacing:-.3px;font-size:12px;font-weight:bold;
  &:hover{color:#777;}}
}
.btn_more{@include img_btn(14px,14px,'ic_more.png');}
.btn_tgl{display:inline-block;position:relative;width:31px;height:17px;background-color:#999;border-radius:28px;vertical-align:middle;padding:0 5px;box-sizing:border-box;font-size:0;border:1px solid;overflow:hidden;outline:none;border-color:#999;text-align:left;line-height:34px;
  &[disabled]{cursor:default;}
  &::before{position:absolute;top:2px;right:16px;display:inline-block;content:"";width:11px;height:11px;background-color:#fff;border-radius:50%;transition:.1s;}
  &::after{position:relative;;top:-4px;left:0;font-size:12px;color:#fff;}
  &[data-value="on"]{background-color:#e42b29;border-color:#e42b29;
    &::before{right:2px;}
    &::after{padding-right:6px;float:right;}
  }
  &[data-value="off"]{background-color:#999;border-color:transparent;
    &::before{right:16px;}
    &::after{left:0;}
  }
}
.btn_back{@include ico_only('\e9ac');align-self:flex-end;
  &::before{font-size:20px;}
}
$_roomType:('A':#ff6347,'B':#56b1b6, 'C':#ff6bcb, 'D':#9167df, 'E':#efbb0f);
$_planType:('personal':#1E7B45,'business':#1E7B45, 'meeting':#1E7B45, 'event':#4285f4, 'leave':#7249BD);

.select_custom{position:relative;cursor:pointer;background:url(../images/btn_select.png) right 8px center no-repeat,rgba(255,255,255,.9);border:1px solid #cccccc;border-radius:2px;
  &.active{
    &:focus-within{z-index:9999;
      &>.label{background:url(../images/btn_select.png) right 8px center no-repeat,#f8f8f8;}
      .optionList{max-height:500px;top:calc(100% + 1px);}
    }
  }
  .label{align-items:center;display:flex;gap:8px;width:100%;height:26px;padding-left:5px;cursor:pointer;text-align:left;}
  &>ul{position:absolute;top:100%;left:-1px;width:calc(100% + 2px);max-height:0;border:1px solid #ccc;border-top-width:0;background:#fff;color:#000;list-style-type:none;overflow:hidden;
    &>li{display:flex;align-items:center;gap:8px;position:relative;border-bottom:1px dashed #cccccc85;transition:.1s;line-height:26px;padding:0 10px;      
      &.disabled{background-color:#eee;cursor:not-allowed;color:#aaa;
        &:hover{background:#eee;}
      }
      &:hover{background:#f5f5f5;}
      &:last-child{border-bottom-width:0;}
    }
  }
  i{display:flex;align-items:center;font-size:0;}
  &.prio{width:90px;}
  &.meeting_room{width:230px;
    i{width:15px;height:15px;top:0;}
    @each $type, $color in $_roomType{
      .room#{$type}{background-color:$color;}
    }
  }
  &.plan_tit_type{width:100px;
    i{width:15px;height:15px;top:0;}    
    @each $type, $color in $_planType{
      .s_#{$type}{background-color:$color;}
    }
  }
}
span.meeting_room{ // select없이 회의실 정보만 적어야 할 경우(브리핑 보드 상세 참고)
  i{display:inline-block;width:15px;height:15px;top:0;font-size:0;width:15px;height:15px;vertical-align:middle;margin-right:5px;}
  @each $type, $color in $_roomType{
    .room#{$type}{background-color:$color;}
  }
}
$prio_fontSize:20px;
.high_prio::before{@include fontello('\f102');color:$red;font-size:$prio_fontSize;}
.normal_prio::before{@include shape(14px, 7px);border:2px solid $yellow;border-width:2px 0;margin-top:1px;}
.low_prio::before{@include fontello('\f107');color:$blue;font-size:$prio_fontSize;}.btn_scroll {position:fixed;z-index:9998;width:40px;height:40px;bottom:9%;right:2%;border-radius:50%;background-color:$red;font-size:0;color:#fff;transition:0.5s;box-shadow:1px 1px 10px #b8b8b8;opacity:0;cursor:pointer;
  &::before{@include fontello('\eb3d');font-size:17px;}
  &:hover{background-color:darken($red, 5%);}
}
.btn_scroll {position:fixed;z-index:9998;width:40px;height:40px;bottom:1%;right:2%;border-radius:50%;background-color:$red;font-size:0;color:#fff;transition:0.5s;box-shadow:1px 1px 10px #b8b8b8;opacity:0;cursor:pointer;
  &::before{@include fontello('\eb3d');font-size:17px;}
  &:hover{background-color:darken($red, 5%);}
}
.btn_scroll.show {transition:1s;opacity:1;}

$btn_red:#f05050;
$btn_gray:#979797;
$btn_red_line:#ff7575;

.btn_red{@include full_btn($btn_red_line);}
.btn_workset .btn_default,
.btn_red_line{@include btn($btn_red);
  &:disabled{@include btn($btn_gray);cursor:not-allowed;
    &:hover{background:none;color:$btn_gray;}
  }
}
.btn_gray{@include full_btn($btn_gray);}
.btn_dplc,
.btn_default,
.btn_gray_line{@include btn($btn_gray);color:#565656;}
.btn_ogt{@include btn(#aaa);color:#111;background-color:#ebebeb;cursor:pointer;}
.btn_form{@include form_btn;
  &:hover{background-color:$btn_gray;}
}
.myform_set{@include shape(24px,24px);background-color:#e0e0e0;border-radius:5px;text-align:center;
  &::before{@include fontello('\ea7d');font-size:16px;color:#848890;line-height:23px;}
  &:hover{outline:4px solid #bec7d2;background-color:transparent;}
}
.i_refresh{@include shape(20px,20px);background-color:#e0e0e0;border-radius:5px;text-align:center;
  &::before{@include fontello('\e8a7');font-size:14px;color:#848890;line-height:20px;}
  &:hover{outline:4px solid #bec7d2;background-color:transparent;}
}
.myappr_del{font-size:0;
  &::before{@include fontello('\e92a');margin-right:5px;font-size:16px;color:#b3b3b3;}
  &:hover::before{color:#353535;}
}
.btn_search_square{@include btn_square('\e802');}
.btn_more_square{@include btn_square(null);position:relative;
  &::before,
  &::after{@include shape(12px, 2px);position:absolute;left:50%;top:50%;transform:translate(-50%,-50%); border-radius:1px;background-color:#848890;}
  &::after{transform:rotate(90deg);left:25%;top:45%;}
}
.btn_tree{@include form_btn;color:#979797;border-color:#b4b4b4;background-color:#f7f7f7;cursor:pointer;font-weight:bold;
  &:hover{background-color:$btn_gray;}
}
.btn_approval{@include form_btn;color:#fff;border-color:$btn_red;background-color:#ff949c;font-weight:bold;
  &:hover{background-color:$btn_red;}
}
.btn_switch{display:flex;padding:2px;
  $unselectedColor:#e5e5e5;$hoverColor:#868686;
  input{position:absolute;opacity:0;width:0;height:0;
    &+label{display:flex;flex-wrap:wrap;align-items:center;justify-content:center;gap:5px;position:relative;left:-1px;min-width:70px;padding:3px 10px 4px;cursor:pointer;border:1px solid $unselectedColor;font-size:13px;font-weight:bold;color:$unselectedColor;z-index:100;}
    &:hover+label{border-color:$hoverColor;color:$hoverColor;}
    &:checked+label{border-color:#000;color:#000;transition:0.5s;}   
    :not(&:checked)+label::before{color:$unselectedColor;border-color:$unselectedColor;}   
  }
  label::before{line-height:17px;}
  &.btn_switch_s{
    input+label{min-width:60px;padding:0 5px;font-size:12px;}
  }
}
.btn_switch_single{text-align:center;
  &>label{position:relative;display:block;width:100%;line-height:26px;font-size:13px;
    &:has(input[type=checkbox]:checked){background-color:$gray;color:#fff;}
  }
  input[type=checkbox]{position:absolute;width:0px;height:0px;overflow:hidden;opacity:0;}
  &+button{width:100%;margin-top:5px;}
  &+.period_custom{display:none;}
}
[data-selectTarget]{display:none;}
.period_group{@include btn_switch_group(#ff959d,#f25460,#d93945);width:118px;}
.file_input + .btn_slideclose{margin-top:5px;}
.btn_slideclose{display:flex;flex-wrap:wrap;justify-content:flex-start;gap:5px;
  & > li{display:inline-block;position:relative;
    & > div:first-child{position:relative;background:#ececec;border-radius:3px;overflow:hidden;
      button{position:absolute;top:0;right:-13px;width:13px;height:100%;background:#8e8e8e;color:#fff;line-height:23px;font-size:0;transition:.3s;
        &::after{@include fontello('\eb2e');font-size:12px;}
      }
      p{padding:2px 10px;color:#717889;transition:.3s;}
      &:hover{background-color:#dbdbdb;
        button{right:0;}
        p{padding-left:5px;padding-right:15px;}
      }
    }    
    &:hover{.tooltip{visibility:visible;}}
  }
  &.btn_slideclose_s{
    div:first-child{
      p{padding:0 8px;font-size:10px;}
      &:hover{
      p{padding-left:8px;padding-right:8px;}
      }
    }
  }
  &.disabled{
    button{display:none;}
    .tagItem:hover{
      button{right:-13px;}
      p{padding-left:10px;padding-right:10px;}
    }
  }
}
.i_public{@include ico_only('\f064');}
.i_private{@include ico_only('\f512');&::before{font-size:14px;width:15px;text-align:center;}}
.i_ex{@include ico_only('\e877');}
.tagItem{font-size:12px;}
.tooltip{position:absolute;top:calc(100% + 5px);right:0;background-color:$white;padding:3px 5px;border:1px solid #ccc;box-shadow:1px 1px 1px rgba(0,0,0,.3);z-index:1000;visibility:hidden;transition-delay:.3s;width:max-content;
  *{flex-shrink:0;}
}

legend{@include tit;}
// search
.search_box{
  $b_color:#c5c5c5;
  @include flex_between;width:160px;height:27px;border:1px solid $b_color;border-radius:2px;overflow:hidden;
  input{width:calc(100% - 27px);height:100%;border:none;padding:0 8px;}
  button{width:27px;height:100%;@include f_blind;border-left:1px solid $b_color;
    &::before{@include fontello('\e802');color:$btn_red;font-size:15px;vertical-align:middle;}
  }
  &.long{width:276px;}
}
.search_list{display:flex;flex-flow:row wrap;align-items:center;gap:5px;margin-right:10px;}
.btn_search{@include btn($btn_red,true);
  &::before{@include fontello('\e802');}
}
.btn_refresh{@include btn($btn_gray,true);
  &::before{@include fontello('\e8a7');}
}
.btn_del{
  &::before{@include fontello('\e839'){margin-right:3px;font-size:14px;};}
  &:hover{color:$red;}
}

// table
$th_border_color:#c0c0c0;
$td_border_color:#ebebeb;
.tbl_top_area{@include flex_between;margin-bottom:9px;
  .flex_right{display:flex;margin-left:auto;gap:5px;flex-shrink:0;}
  .divide{@include divide(16px, 5px);
    &.search_list{margin:0 auto 0 10px;}
  }
}
.tbl_bottom_area{@include flex_between;margin-top:9px;}
td{white-space:nowrap;text-overflow:ellipsis;
  &:has(.tbl_badge+.layer_tool){position:relative;
    .layer_tool{display:none;position:absolute;left:calc(50% - 50px);width:100px;z-index:10;padding:2px 5px;border:1px solid #666;background-color:#fff;
      p{display:block;font-weight:bold;color:$red;}
    }
    .layer_tool:hover,
    .tbl_badge:hover+.layer_tool{display:block;}
  }
}
.tbl_header{@include flex_between;border-top:2px solid $th_border_color;
  .tbl_caption{display:flex;align-items:center;line-height:37px;
    .row_check{margin:0 16px 0 24px;}
    h2{color:$red;font-weight:bold;font-size:14px;}
  }
  .count{color:#424242;font-size:12px;margin-left:12px;}
}
.tbl_default{width:100%;text-align:center;border-top:2px solid $th_border_color;
  &.no_thead{border-top:1px solid $th_border_color;
    thead{@include blind;}
  }
  th,td{border-bottom:1px solid $th_border_color;padding:7px 5px;letter-spacing:-.333px;text-align:center;word-break:keep-all;white-space:initial;vertical-align:top;}
  th{color:#111;font-weight:bold;}
  td{border-color:$td_border_color;color:#333;
    &.new::after{@include newmark;}
  }
  .tags{display:inline-block;}
  .withdrawal{text-decoration:line-through;color:$gray;
    &::after{@include badge_style();content:"회수";background-color:$gray;margin-left:3px;padding:0 3px;}
   }
}
.tbl_use_select td:first-child{width:60px;}
.tbl_hover tbody tr:hover{background-color:#f9fafc;cursor:pointer;}
.tbl_use_select{
  tbody tr.select_tr{background-color:lighten($red, 45%);}
  td:first-child{width:60px;}
}
.tbl_row{border:2px solid $th_border_color;border-width:2px 0;font-size:13px;
  th,
  td{height:37px;padding:3px 7px;border:1px solid $td_border_color;text-align:left;word-break:keep-all;vertical-align:middle;}
  th{background-color:#f5f5f5;font-weight:600;color:#111;text-align:center;}
  td{text-align:left;color:#333;
    &:last-child{border-right-width:0;}
  }
  tr:first-child th,
  tr:first-child td{border-top-color:$td_border_color;}
  tr:last-child th,
  tr:last-child td{border-bottom-color:$td_border_color;}
  & + .gis_wrap{margin-top:6px;}
}
.tbl_scroll{overflow-y:scroll;background-color:#fafafa;border-bottom:1px solid #ebebeb;
  table{
    &.no_thead{border-top:none;}
    &.tbl_default{background-color:#ffffff;}
  }
}
.tbl_photo{display:grid;justify-content:space-between;grid-template-columns:repeat(auto-fill, minmax(180px, auto));gap:20px;padding:20px 20px 0;
  li{cursor:pointer;
    img{display:block;width:100%;height:160px;margin-bottom:10px;object-fit:cover;}
    b{display:inline-block;max-width:155px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:14px;color:#000;font-weight:bold;
      &:hover{text-decoration:underline;}
    }
    span{font-size:11px;color:#717889;}
    a{vertical-align:top;}
  }
}
.cmt_num{color:$red;font-weight:bold;margin-left:5px;
  $cmtmargin :2px;
  &::before{content:"[";margin-right:$cmtmargin;}
  &::after{content:"]";margin-left:$cmtmargin;}
}
.layer_tool{position:relative;
  .btn_ellipsis{@include ico_only;
    &::before{@include fontello('\f142');font-size:14px;padding:0 10px;}
  }
  .btn_layer{position:absolute;top:100%;left:50%;transform:translateX(-50%);display:inline-flex;flex-direction:column;height:0;z-index:10;overflow:hidden;box-sizing:border-box;white-space:nowrap;
    button{margin:3px 0;padding:2px 10px;}
    button:hover{background-color:#e5e6e8;}
    &:not(:has(button)){width:100px;padding:5px;white-space:inherit;
      p{display:block;font-weight:bold;color:$red;}
    }
  }
  &.on .btn_layer{height:auto;border:1px solid #666;background-color:$white;}
}
.sorting{position:relative;
  span{@include ico_only;
    &::before{position:absolute;left:0;top:50%;font-size:12px;transform:translateY(-50%);color:$btn_gray;}
  }
   .ico_asc::before{@include fontello('\e86b');margin-top:-3px;}
   .ico_desc::before{@include fontello('\e86a');left:2px;margin-top:3px;}
}
.sort{cursor:pointer;
  &.basis_asc .ico_asc::before,
  &.basis_desc .ico_desc::before{color:$red}
}
.tbl_ico{@include shape(19px, 19px);display:inline-flex;align-items:center;justify-content:center;text-align:center;cursor:default;}
.ico_attach::before{@include fontello('\ec66');color:#848484;font-size:14px;}
.tbl_badge{@include badge_style(50px);min-width:50px;font-size:11px;font-weight:bold;}
.check_group{display:inline-flex;justify-content:flex-start;
  li{margin-right:10px;}
  *{align-self:center;vertical-align:middle;}
}
@for $left from 1 to 10{
  .alignL_#{$left}{
    tbody>tr>td:nth-child(#{$left}){text-align:left;}
  }
}
// tab
.tab_wrap{
  &:has(button){position:relative;
    button{float:right;margin-bottom:3px;}
    .tab+button{float:none;position:absolute;top:0;right:0;}
  }
 &:has(h2){@include flex_between;
  h2{font-size:16px;color:#000;font-weight:bold;
    &::before{position:relative;display:inline-block;content:'';width:4px;height:4px;border-radius:4px;background-color:#000;margin-right:8px;margin-bottom:2.5px;}
  }
 }
}
.tab{
  $border-color:#eaedf1;
  $border-on-color:#bec7d2;
  display:flex;gap:6px;border-bottom:1px solid $border-on-color;
  li{min-width:110px;
    &:hover a{color:$red;}
  }
  &_s{li{min-width:80px;}
    a{font-size:12px;}
  }
  a{position:relative;top:1px;z-index:1;display:inline-block;width:100%;border:1px solid $border-color;border-bottom-color:$border-on-color; border-radius:5px 5px 0 0;text-align:center;color:#666;padding:6px 0;letter-spacing:-.33px;background-color:#f9fafc;
  }
  .on a{color:$red;background-color:$white;font-weight:bold;border-color:$border-on-color;border-bottom-color:transparent;}
}
.tab_contents{margin-top:20px;}
.tab_s .tab{gap:2px;}
.tab_s ~ .tab_contents{margin-top:10px;}

/* paginate */
.tui-pagination{display:flex;align-items:center;justify-content:center;margin-top:32px;text-align:center;gap:2px;
  span{vertical-align:top;}
  .tui-page-btn{position:relative;flex:0 30px;padding:5px;color:#333;font-size:15px;line-height:normal;font-weight:normal;border-radius:2px;font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;
    &.tui-is-selected,
    &:hover{color:#fff;background-color:$red;}
    &.tui-is-disabled ::before,
    &.tui-is-disabled:hover{background-color:transparent;color:#ccc;}
  }
  $_tui_ico_btn:( 'prev':'〈', 'next':'〉', 'first':'〈〈', 'last':'〉〉' );
  @each $type, $txt in $_tui_ico_btn{
    .tui-#{$type}{_width /**/:47px;width:30px;height:30px;background-color:#fff;margin:0 1px;
      &:hover{background-color:#edf0f3;}
    }
    .tui-ico-#{$type}{@include f-blind;
      &::before{font-size:10px;line-height:19px;font-weight:bold;color:#000;content:$txt;}
    }
  }
}

/* validity */
[required]::before,
.required::before{content:"* ";color:$red;font-size:13px;font-weight:600;}
.validity{font-size:12px;color:#7a7a7a;letter-spacing:-0.3px;line-height:17px;}

/* tree(부서 검색 등 공통 영역이 존재하여 따로 분리) */
.tree_wrap{
  .etc_ogt{padding:8px 5px;padding-left:15px;border:1px solid #dddddd;border-top:none;font-size:12px;font-weight:bold;color:#000;letter-spacing:-0.12px;}
  &>.sortable{width:290px;height:353px;padding:8px 0;border:1px solid #dddddd;overflow-x:hidden;overflow-y:auto;}
  .sortable{
    div:hover,
    div.hover{background-color:#f9fafc;
      & span{color:$red;font-weight:bold;}
    }
  }
  ul{margin:0;}
  .tree{
    input{display:inline-block;width:calc(100% - 50px);border:1px solid #d3d3d3;line-height:27px;font-size:12px;
      &:disabled{border:none;background-color:transparent;color:#000;}
    }
    &>li::before,
    &>li::after{display:none;}
    &>li{
      &>div{font-weight:bold;}
      &::before,
      &::after {border:0;}
      &.parent_li>span {cursor:pointer}
    }
    li{position:relative;list-style-type:none;margin:0;position:relative;padding-left:8px;
      &::before, &::after {content:'';position:absolute;left:8px;top:10px;right:auto;}
      &::before{border-left:1px dotted #dddddd;height:calc(100% - 1px);top:-10px;width:1px}
      &::after {border-top:1px dotted #dddddd;width:10px;height:20px;}
      &:last-child::before{height:20px}
      &>span{font-size:0;position:absolute;z-index:1;top:5px;left:15px;}
    }
    .arrow>div{margin-left:15px;}
    div{display:inline-block;width:100%;height:20px;line-height:20px;margin-left:7px;margin-bottom:0;padding-left:5px;border:none;background-color:transparent;cursor:pointer;font-size:14px;
      &>span{font-size:12px;letter-spacing:-0.12px;
        :last-child{margin-left:-3px;}
        ::before{margin-bottom:10px;}
      }
    }
    .sortable{min-height:10px;padding-left:0;
      &>li{min-height:15px;box-sizing:border-box;cursor:pointer;padding-left:10px;}
    }
    .sortable_style{border:1px dashed rgb(156, 160, 165) !important;width:inherited;}
  }
  .arrow{
    &>div{margin-bottom:10px;}
    &>span::before{position:relative;@include fontello("\f147");width:11px;line-height:11px;font-size:13px;color:$red;text-align:center;}
  }
  .close{
    &>span:first-child::before{content:'\f196';}
    &>ul{display:none;}
  }  
}
.tree_wrap + .btn_wrap{
  .doneAddOgt,.doneEditOgt{display:none;}
}
/* multi file */
.file_input{display:flex;gap:4px;
  &:has(.MultiFile-wrap){width:100%;}
  &>input:not([type="checkbox"]),
  &>select{flex:1;}
  &>input,
  .full{flex:1;}
  &>[list]{min-width:50%;}
  &>*{width:auto;align-self:center;vertical-align:middle;white-space:nowrap;}
  &>.btn_slideclose{margin-top:0;}
  &.inline{display:inline-flex;}
}
.MultiFile-wrap{width:100%;
  .multi{position:relative;width:72px;height:28px;float:right;overflow:visible;border-color:#aaa;
    &::before{position:absolute;content:'파일선택';top:-1px;left:-1px;width:72px;line-height:28px;padding:0 10px;background-color:#ebebeb;cursor:pointer;}
  }
  .MultiFile-list{width:calc(100% - 76px);min-height:28px;margin-right:4px;padding:0 5px 5px;border:1px solid #c5c5c5;border-radius:2px;
    .MultiFile-remove{@include shape(12px,24px);
      &::before{@include fontello('\e928');font-size:13px;color:$red;} 
    }}
  .MultiFile-label{display:flex;flex-direction:row-reverse;gap:5px;margin-top:5px;
    & > span{flex-grow:1;line-height:1.4;}
  }
}
.cmt_area{margin-top:30px;padding:20px 0;
  .cmt_lst > li{border-bottom:1px solid #ccc;padding:15px 0;}
  .cmt_txt{position:relative;padding-left:22px;margin-top:10px;
    .editable,
    p{position:relative;border:1px solid #ccc;border-radius:3px;padding:5px;z-index:5;background-color:rgba(255,255,255,.6);}
    .editable{cursor:text;}
    .placehold{top:6px;left:28px;color:#000;}
    & + .cmt_attach{padding-left:22px;}
  }
  .cmt_file{position:relative;margin-top:10px;padding-left:22px;
    &>a:first-child{@include flex_between;border-radius:3px;padding:10px 20px;background-color:#e9e9e9}
    .cmt_file_info{position:relative;padding-left:40px;
      &::before{@include fontello('\eb7c');position:absolute;left:0;top:calc(50% - 15px);font-size:20px;}
      &>b{display:block;font-size:13px;font-weight:bold;color:#3a3a3a;}
      &>span{font-size:12px;color:#7a7a7a;}
    }
    & >a:last-child{position:absolute;top:10px;right:20px;width:37px;border:1px solid #ccc;border-radius:3px;background-color:#b3b3b3;font-size:0;color:#fff;
      &::before{@include fontello('\ea57');padding:0 10px;font-size:20px;line-height:35px;color:#fff;}
      &:hover{background-color:#fafafa;
        &::before{color:#999999;}
      }
    }
  }
  .cmt_user{position:relative;
    .layer_tool{position:absolute;right:5px;top:0;}
    .btn_ellipsis::before{font-size:17px;color:#888;}
  }
  .cmt_info{padding-left:22px;font-size:11px;color:#666;margin-top:5px;}
  textarea{padding:5px;min-height:fit-content;}
  button:hover{text-decoration:underline;}  
}
.reply_area{padding:10px 10px 10px 42px;margin-top:10px;background-color:#f5f5f5;
  li{position:relative;border-top:1px solid #ccc;padding:10px 0;
    &::before{position:absolute;left:-15px;top:10px;@include shape(10px,12px);border:1px solid #aaa;border-width:0 0 1px 1px;}
    &:first-child{border-top-width:0;}
  }  
}
.cmt_write{position:relative;margin-top:30px;border:2px solid #ccc;padding:10px;border-radius:5px;
  .editable,
  textarea{position:relative;min-height:none;border:none;margin-top:5px;cursor:text;z-index:10;padding:5px;}
}
.placehold{position:absolute;left:15px;top:39px;color:$gray;visibility:hidden;}
.cmt_attach{text-align:right;margin-top:5px;
  .btn_label_attach,
  button{font-weight:bold;color:#888;padding:5px;
    &:hover{color:#666;}
  }
  .btn_label_attach{cursor:pointer;vertical-align:middle;
    &:hover{text-decoration:underline}
  }
  .file_attach{min-height:auto;border:none;
    .attach_list{padding-bottom:0;}
    &:has(.attach_list>li){border:2px dashed #ebebeb;padding-bottom:10px;}
  }
}
.editable{
  span{@include badge_style;background-color:#e4f1ff;padding:0 3px;color:#3d90ff;font-weight:600;}
  &:empty + .placehold{visibility:visible;}
}
// .editable:empty:after{content:"댓글을 입력하세요.";color:$gray;}
.tribute-container{position:absolute;top:0;left:0;border:1px solid #3d90ff;max-height:400px;overflow:auto;border-radius:3px;z-index:999999;padding:0!important;
  ul{background-color:#fff;}
  li{cursor:pointer;padding:5px 10px;color:#717889;font-size:13px;
      &:hover{background-color:#f5f5f5;}
      b{color:#bec7d2;}
      &.highlight{background-color:#e4f1ff;color:#3d90ff;
        b{color:#717889;}
      }
      &.no-match{cursor:default;}
    }
  .menu-highlighted {font-weight:bold;}
}
.mentioned{@include badge_style;background-color:#e4f1ff;padding:0 3px;color:#3d90ff;font-weight:600;}
.user_lst{display:flex;gap:10px;flex-wrap:wrap;}
/* ckeditor, tui-image-editor */
.editor_wrap{
  .ck-editor{
    .ck-source-editing-area,
    .ck-editor__editable_inline {min-height:100px;height:auto;cursor:text;}
    .ck-source-editing-area textarea{overflow:auto;}
    .ck-content .todo-list{
      li{margin-bottom:0 !important;margin-left:5px;}
      .todo-list__label>input::before{background:transparent;border-color:#606060;}
      .todo-list__label>input[checked]::before{background:transparent;border-color:transparent;}
      .todo-list__label>input[checked]::after{border-color:transparent;}
    }
    .ck-content ol,
    .ck-content ul{margin-left:25px;}
    .ck-content li{list-style:inherit;}
    // table
    .ck-content[dir=ltr] .table th.editor_th,
    .ck-content[dir=ltr] .table td.editor_th{text-align:center;background-color:#f5f5f5;font-weight:bold;}
    .ck-content .table{float:left;
      table td,
      table th {white-space:inherit;}
    }
  }
  // &.heightFix{
  //   .ck-editor{
  //     .ck-source-editing-area,
  //     .ck-editor__editable_inline {height:100px;overflow:auto;}
  //   }
  // }
}
#image_editor_wrap{display:none;position:fixed;z-index:1000;width:auto;left:calc(50% - 400px);top:calc(50% - 400px);padding:13px 10px;border:1px solid #d7d7d7;background:#fff;}
#image_editor.tui-image-editor-container{width:900px !important;height:700px !important;} /* important 사용하지 않고 적용하는 법 찾아보는중..!! */
.btn_editor_wrap{margin-top:20px;text-align:center;}
.tui-image-editor-header-buttons,
.tui-image-editor-header-logo{display:none;}

/* ico_fileName Extention */
.ext_bmp {@include ico_ext(-3px, -2px);}
.ext_jpg {@include ico_ext(-23px, -2px);}
.ext_gif {@include ico_ext(-43px, -2px);}
.ext_png {@include ico_ext(-63px, -2px);}
.ext_tif {@include ico_ext(-83px, -2px);}
.ext_pdf {@include ico_ext(-103px, -2px);}
.ext_ppt {@include ico_ext(-123px, -2px);}
.ext_ai  {@include ico_ext(-143px, -2px);}
.ext_xls {@include ico_ext(-163px, -2px);}
.ext_psd {@include ico_ext(-183px, -2px);}
.ext_doc {@include ico_ext(-3px, -22px);}
.ext_hwp {@include ico_ext(-23px, -22px);}
.ext_txt {@include ico_ext(-43px, -22px);}
.ext_c   {@include ico_ext(-63px, -22px);}
.ext_cpp {@include ico_ext(-83px, -22px);}
.ext_jav {@include ico_ext(-103px, -22px);}
.ext_htm {@include ico_ext(-123px, -22px);}
.ext_css {@include ico_ext(-143px, -22px);}
.ext_js  {@include ico_ext(-163px, -22px);}
.ext_log {@include ico_ext(-183px, -22px);}
.ext_m4a {@include ico_ext(-203px, -22px);}
.ext_swf {@include ico_ext(-223px, -22px);}
.ext_au  {@include ico_ext(-3px, -42px);}
.ext_mid {@include ico_ext(-23px, -42px);}
.ext_mod {@include ico_ext(-43px, -42px);}
.ext_mp2 {@include ico_ext(-63px, -42px);}
.ext_mp3 {@include ico_ext(-83px, -42px);}
.ext_ogg {@include ico_ext(-103px, -42px);}
.ext_ra  {@include ico_ext(-123px, -42px);}
.ext_rm  {@include ico_ext(-143px, -42px);}
.ext_snd {@include ico_ext(-163px, -42px);}
.ext_voc {@include ico_ext(-183px, -42px);}
.ext_wav {@include ico_ext(-203px, -42px);}
.ext_wma {@include ico_ext(-223px, -42px);}
.ext_avi {@include ico_ext(-3px, -62px);}
.ext_mov {@include ico_ext(-23px, -62px);}
.ext_mpg {@include ico_ext(-43px, -62px);}
.ext_mv  {@include ico_ext(-63px, -62px);}
.ext_asf {@include ico_ext(-83px, -62px);}
.ext_asx {@include ico_ext(-103px, -62px);}
.ext_qt  {@include ico_ext(-123px, -62px);}
.ext_rv  {@include ico_ext(-143px, -62px);}
.ext_wmx {@include ico_ext(-163px, -62px);}
.ext_mp4 {@include ico_ext(-183px, -62px);}
.ext_fla {@include ico_ext(-203px, -62px);}
.ext_flv {@include ico_ext(-223px, -62px);}
.ext_alz {@include ico_ext(-3px, -82px);}
.ext_arj {@include ico_ext(-23px, -82px);}
.ext_bzz {@include ico_ext(-43px, -82px);}
.ext_egg {@include ico_ext(-63px, -82px);}
.ext_gz  {@include ico_ext(-83px, -82px);}
.ext_jar {@include ico_ext(-103px, -82px);}
.ext_rar {@include ico_ext(-123px, -82px);}
.ext_tar {@include ico_ext(-143px, -82px);}
.ext_tgz {@include ico_ext(-163px, -82px);}
.ext_zip {@include ico_ext(-183px, -82px);}
.ext_7z  {@include ico_ext(-203px, -82px);}
.ext_etc {@include ico_ext(-223px, -82px);}
.ext_wmv {@include ico_ext(-23px, -102px);}
.ext_wvz {@include ico_ext(-43px, -102px);}
.ext_bzs {@include ico_ext(-63px, -102px);}
.ext_html{@include ico_ext(-3px,-102px);}