#calendar{height:100vh;max-height:calc(100vh - 184px);min-height:445px;}
.gcal-holiday{border:none;background-color: rgba(250, 204, 208, 0.3) !important;
  .fc-event-title{color:#7b0000;}
}
.fc-day-sun,
.fc-day-sat{max-width:15%;}
.fc-day-sat{color:$blue;}
.fc-day-sun{color:$red;}
.anniv{border:none;background-color:transparent;color:#00f;}
@mixin customEvt($color:inherit){border-style:solid;border-width:0 0 0 3px;padding-left:5px;@content;
  .fc-event-time,.fc-event-title{color:$color;}
}
/* 공휴일 */
.fc-daygrid-day-frame:has(.holyday-event) .fc-daygrid-day-top{color:$red;}
.fc .holyday-event{border-color:#E55F5F;background-color: rgba(250, 204, 208, 0.25);opacity:1;border:none;
  .fc-list-event-dot{border-color:#E55F5F;}
  .fc-list-event-title,
  .fc-event-title{color:$red;font-style:normal;}
}
/* 달력 일정 */
@each $cal_type, $color in $_planType{  
  .cal_#{$cal_type}{
    @include customEvt(darken($color: $color, $amount: 15));border-color:$color;background-color:rgba($color, .20);
    .fc-daygrid-event-dot{border-color:$color}
  }
}
// 참석자 일정
.cal_busy{@extend %busy;@include customEvt(#00477f){border-width:1px;}}
.cal_absence{@extend %absence;@include customEvt(#333){border-width:1px;}}
.cal_holiday{@extend %holiday;@include customEvt(#ff0000){border-width:1px;}}

.wbs{
  [role='columnheader'] .fc-datagrid-cell-frame{justify-content:center;}
  .fc-resource-group .fc-datagrid-cell-cushion{@include text_ellipsis(3);padding-bottom:0;}
  .fc-timeline-header a{color:#363636;}
  .wbs_step .fc-datagrid-cell-cushion{padding:8px 0 0;}
}
.fc-resourceTimelineYear-view .fc-timeline-slot{color:inherit;}
#cal-roombook{
  .fc-datagrid-cell-main,
  thead .fc-sticky{
    display:inline-flex;align-items:center;gap:5px;
    &::before{@include shape(14px,14px);}
  }
  @each $type, $col in $_roomType{
    .room#{$type}{
      @include customEvt($col){background-color:rgba($col,.15);border-color:$col;}
      .fc-event-title{color:darken($color: $col, $amount:20)}
    }
    .fc-resourceTimeGridWeek-view{
     .room#{$type}{
       @include customEvt($col){background-color:$col;}
      .fc-event-title{
          &::before{content:"⋯";color:#fff;width:100%;display: inline-block;font-weight:bold;font-size:1.5em;text-align:center;border:1px solid transparent;border-radius:3px;}
          &:hover::before{border-color:#fff;}
      }
     }
    }
    [data-resource-id=#{$type}]{
      &.fc-col-header-cell .fc-sticky::before,
      .fc-datagrid-cell-main::before{background-color:$col;}
    }
  }
  .fc-resourceTimeGridWeek-view{
    .fc-event{border-left:none;padding-left:0;min-height:22px;}
  }
}