#calendar{height:100vh;max-height:calc(100vh - 220px);}
.gcal-holiday{border:none;background-color: rgba(250, 204, 208, 0.3) !important;
  .fc-event-title{color:#7b0000;}
}
.fc-day-sat{color:$blue;}
.fc-day-sun{color:$red;}
.anniv{border:none;background-color:transparent;color:#00f;}
.fc-header-toolbar{
  // .fc-gcalSync-button{background-color:$red;}
}
%customEvt{border-style:solid;border-width:0 0 0 3px;padding-left:5px;}
/* 공휴일 */
.holyday-event{@extend %customEvt;border-color:#E55F5F;
  background-color: rgba(250, 204, 208, 0.3) !important;
  .fc-event-title{color:#7b0000;}
}
/* 개인일정 */
.personal{@extend %customEvt;border-color:#79B2DE;
  background-color:rgba(64, 145, 208, 0.15) !important;
  .fc-event-title{color:#00477f;}
}
.fc-day-sun,
.fc-day-sat{max-width:15%;}