$columnGap:25px;
//layout
.wrap{display:grid;grid-template-columns:60px 1fr;grid-template-rows:60px 1fr 59px;width:100%;min-width:1200px;min-height:100vh;font-size:13px;color:$black;font-family:"NanumGothic","나눔고딕","Malgun Gothic","맑은고딕","Apple SD Gothic Neo","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
.header{grid-row:1;grid-column:1/span 2;padding:0 $columnGap; border-bottom:1px solid #989898;}

//header
.header{
  grid-column:2;
  @include flex_between;font-size:20px;font-weight:bold;letter-spacing:-.5px;
  .logo{display:inline-block;@include f_blind;width:114px;height:25px;background:url(../images/logo.png) 0 0 no-repeat;vertical-align:text-bottom;margin-right: 19px;}
  .t_red{margin-left:10px;}
}

// login
.login_wrap{position:relative;display:block;height:100%;background:url('../images/bg_login.png')top 80% center no-repeat;background-size:cover;
  .login{position:absolute;left:50%;top:50%;width:520px;height:580px;margin:-310px 0 0 55px;padding:55px;background-color:rgba(255,255,255,.85);text-align:left;border-radius:10px;box-shadow:0 0 10px 0 rgba(3, 3, 3, 0.5);
    h1{font-size:30px;font-weight:600;color:#000;letter-spacing:-2.25px;text-align:left;
      .logo{display:block;width:114px;height:25px;margin-bottom:5px;background:url(../images/logo.png) 0 0 no-repeat;background-size:contain;font-size:0;}
    }
    span{font-family:'notokr';font-weight:300;color:#fff;letter-spacing:3px;font-size:18px;}
    .login_tit{position:relative;text-align:center;border-radius:20px 20px 0 0;}
    .login_body{display:inline-block;width:100%;
      .login_input{position:relative;display:block;margin:40px auto;}
      .btn_login{display:inline-block;width:49%;line-height:56px;background-color:$btn_gray;cursor:pointer;border:none;border-radius:28px;font-size:20px;color:#fff;font-weight:bold;text-align:center;
        &:hover{background-color:#888;}
        &:last-child{background-color:#e42b29;
          &:hover{background-color:#cf2825;}
        }
      }
      span{display:block;width:100%;margin-bottom:30px;border-radius:3px}
      input{width:100%;line-height:45px;border:none;border-bottom:1px solid #d0d0d0;background-color:transparent;vertical-align:middle;font-size:14px;line-height:45px;color:#555;font-weight:bold;letter-spacing:-0.35px;
        ::placeholder{font-size:14px;color:#979797;}
        &:focus,&:active{border-bottom:1px solid #e42b29;outline:none;}
      }
      .login_link{display:flex;justify-content:flex-end;margin-top:10px;
        li{position:relative;margin-right:7px;padding-right:7px;
          &:last-of-type{
            ::after{display:none;}
          }
          ::after{position:absolute;top:55%;right:0;display:inline-block;width:1px;height:10px;content:'';background-color:#696868;transform:translateY(-50%);}
          a{font-size:13px;color:#696868;letter-spacing:-0.33px;
            &:hover{color:#000;}
          }
        }
      }
    }
  }
  .copyright{position:absolute;left:50%;bottom:-55px;color:#fff;padding:20px 0;transform:translateX(-50%);white-space:pre;font-size:12px;font-weight:100;}
}

@include mobile_only{ 
  .login_wrap{
    .login{width:calc(100% - 40px);top:50%;left:0;margin:0 20px;padding:50px 15px 25px;transform:translateY(-50%);
      .login_body {
        .login_input{
          span{margin-bottom:5px;}
        }
        .btn_manlogin_wrap{
          button{line-height:45px;font-size:18px;}
        }
      }
      .copyright{bottom:0}
    }
  }
}
@include tablet_only{
  .login_wrap{
    .login{height:680px;top:50%;left:50%;margin:0;padding:50px 30px;transform:translate(-50%,-50%);
      .copyright{bottom:15px}
    }
  }
}
@include mobile_tablet{
  .login_wrap{position:fixed;width:100%;height:100%;background-position:center right;touch-action:none;
    .login{position:fixed;overflow-y:auto;
      h1{font-size:23px;}
      .login_body {
        .btn_manlogin_wrap{
          button{width:100%;margin-bottom:10px;}
        }
        .login_input{margin:50px auto;}
      }
      .copyright{position:static;font-size:11px;color:#8b8b8b;font-weight:bold;transform:none;text-align:center;}
    }
  }
}

//footer
.footer{display:flex;align-items:center;grid-row:3;grid-column:2;border-top:1px solid #e1e1e1;padding:0 $columnGap;
  .copy{font-size:14px;color:#818181;}
}

//gnb
.gnb{height:100%;}
.util{height:inherit;}
.profile{
  position:relative;width:160px;height:inherit;padding:0 19px;
  .account{position:relative;top:50%;transform:translateY(-50%); display:inline-flex;align-items:center;font-size:13px;letter-spacing:-.33px;
    img{border-radius:50%;overflow:hidden;}
    b{margin-left:10px;
      &::before{position:absolute;left:0;top:0; @include shape(32px,32px);border:1px solid #ddd;border-radius:50%;}
      &::after{@include fontello("\f004");margin-left:8px;font-size:11px;}
    }
  }
  &:hover b::before{outline:4px solid rgba(60,64,67,.08);}
  &.on{background:$black;
    & b{color:$white;}
    & b::before{border-color:$black;}
    .my_layer{height:auto;}
  }
}
.my_layer{position:absolute;top:59px;left:0;width:100%; 
height:0;overflow:hidden;background-color:$black;z-index:100;
  .my_svc{padding:10px 29px;
    & a{display:flex;align-items:center;line-height:30px; font-size:13px;color:#a4a3a3;
      &::before{@include shape(16px,16px);background:url(../images/my_layer.png) 0 0 no-repeat;margin-right:17px;}
      &:hover{color:$white;
        &::before{background-image:url(../images/my_layer_fff.png);}
      }
    }
    @for $i from 1 to 5{
      & li:nth-child(#{$i}) a::before{
        background-position-y:-40px * ($i - 1);
      }
    } 
  }
}

//nav
.nav{position:relative;z-index:1;grid-row:1/span 3;grid-column:1/1;
background:$black;
  .nav_lst{display:flex;flex-direction:column;height:100%;}
  li{width:100%;height:60px;border-bottom:1px solid #575656;
    a{display:flex;flex-direction:column;align-items:center;justify-content:center;height:100%;color:$white;font-size:10px;letter-spacing:.25px;
      &::before{@include shape(26px,26px);background:url('../images/bg_nav.png') 0 0 no-repeat;position: relative;margin-bottom:3px;}
    }    
    &.on a,&:hover a{background:$red;color:$white;}
    &:last-child{margin-top:auto;}
  }
  @for $i from 1 to 11{
    & li:nth-child(#{$i}) a::before{
      background-position-y:-36px * ($i - 1);
    }
  }
}

$snbWidth:200px;
.snb{width:$snbWidth;border-right:1px solid #eee;text-align:center;padding:15px 0;overflow:hidden;flex-shrink:0;
  $border-color:#bec7d2;
  .snb_container{min-width:$snbWidth;}
  h2{padding:0 15px 12px;font-size:20px;font-weight:bold;letter-spacing:-.5px;border-bottom:1px solid $border-color;overflow:hidden;}
  .btn_workset{background-color:#edf0f3;border-bottom:1px solid $border-color;border-width:1px 0;padding:13px #{$columnGap - 10px};
    a{display:block;font-weight:bold;font-size:14px;letter-spacing:-.35px;border-radius:5px;line-height:32px;background-color:$white;}
  }
  .data_count .list_wrap{@include flex_between;padding:16px 0;border-bottom: 1px solid $border-color;
    li{flex:1;font-weight:bold;font-size:12px;color:#000;border-left:1px solid #cdcdcd;line-height:10px;text-align:center;
      &:first-child{border-left:0;}
    }
    em{color:#ff5654;font-size:13px;margin-left:5px;}
  }
  .snb_lst{$border-color:#ebebeb;text-align:left;
    & > li{font-size:14px;border-bottom: 1px solid $border-color;background-color:#f9fafc;
      & > a{display:block;font-weight:bold;padding:10px #{$columnGap - 10px};letter-spacing:-.35px;}
      ul{border-top: 1px solid $border-color;background-color:$white;padding:10px 0;}
      ul a{display:block;font-size:13px;color:#696969;padding:5px #{$columnGap - 10px} 6px;
        &::before{content:"·";font-weight:bold;font-size:18px;line-height:12px;margin:0 8px;}
      }
      &.on > a,&:hover > a{color:$red;}
      & li.on a,& li:hover a{background-color:#fee;color:#424242;}
    }
  }  
}

//container
.container{grid-row:2;grid-column:2;display:flex;}
.contents{position:relative;flex-grow:1;padding:15px $columnGap;}
.snb_fold{position:absolute;left:-1px;top:10px;display:flex;align-items:center;justify-content:center;width:12px;height:38px;
border:1px solid #ebebeb;border-left-width:0;border-radius:0 3px 3px 0;font-size:0;
z-index:10;
  &::before{@include fontello('\e890');font-size:20px;color:$red;}
  &[data-value="off"]::before{@include fontello('\e88f')}
}
.cont_tit{@include flex_between;font-weight:bold;border-bottom: 1px solid #e1e1e1;letter-spacing:$tit_spacing;margin-bottom:12px;padding-bottom:15px;
  h1{font-size:18px;color:#363636;
    span{display:inline-block;font-size:14px;color:#696969;letter-spacing:-.35px;line-height:16px;padding-left:10px;border-left:1px solid #a0a0a0;margin-left:15px;}
  }
}
.bredcrumb{
  ul{@include flex_between;}
  li{letter-spacing:.65px;color:#888;font-weight:normal;
    &:first-child{
      &::before{top:0;@include fontello('\e81f');color:#888;margin:0;font-size:15px;}
      a{@include f_blind;}
    }
    &:last-child{font-weight:bold;color:#000;}
    &::before{position:relative;top:-1px;@include fontello('\f105');margin:0 5px;color:#888;font-weight:normal;}
  }
}
.cont_body{
  .section_tit{@include flex_between;margin-bottom:10px;
    h1{flex-grow:1;font-weight:bold;color:#363636;font-size: 16px;letter-spacing: $tit_spacing;
      &::before{display:inline-block;font-family:fontello;margin-right:3px;}
    }
    &.tit_icon{
      h1::before{@include fontello('\ec32');color:$black;margin-right:5px;}
    }
    &.tit_none{justify-content:flex-end;}
  }
  .legend_org{display:flex;margin-right:5px;
    span{font-size:12px;color:#000;margin-right:14px;
      &::before{margin-right:5px;vertical-align:middle;}
    }
  }
}
@mixin box_style($w_pd,$h_pd){background-color:#edf0f3;padding:$h_pd $w_pd;border-radius:5px;
  header{@include flex_between;margin-bottom:if($h_pd >= 20, 15px, 12px);}
  h1{font-weight:bold;font-size:if($h_pd >= 20,16px,null);}
}
@mixin inner_box{position:relative;background-color:$white;border-radius:5px;padding:12px 15px;box-shadow:0 0 8px rgba(0, 0, 0, 0.07);
  &:hover{box-shadow:0 0 8px rgba(3, 3, 3, .2);}
  strong{display:block;color:#404654;font-size:13px;letter-spacing:-.33px;}
  a{display:flex;flex-direction:column;font-size:12px;color:#717889;letter-spacing:-.3px;}
  span{display:inline-block;line-height:16px;}
}
.box_compact{@include box_style(20px,15px);}
.box_default{@include box_style(20px,20px);}
.box_default_w{@include box_style(20px,20px);background-color:#fff;border:1px solid #dddddd;}


// approval
.my_form{margin-bottom:20px;
  .btn_wrap{align-self:flex-start;}
  ul{display:flex;gap:4px;}
  li{background-color:$white;border:1px solid #aaa;border-radius:3px;
    a{display:block;line-height:28px;padding:0 8px;
      &::before{@include fontello('\f0f6');font-size: 14px;color:#ff6664;margin-right:4px;}
    }
    &:hover{border-color:#e42b29;background-color:#fff5f5;color:#e42b29;font-weight:bold;}
  }
}
.my_approval{@include flex_between;align-items:stretch;
  .status{width:260px;margin-right:20px;
    ul{display:flex;flex-direction:column;gap:10px;max-height:550px;overflow-y:auto;}
    li{@include inner_box();
      strong{margin:2px 0 4px;}
      .badge{@include badge_style(54px)}      
    }
  }  
  .ls_stand_by{display:flex;flex-direction:column;gap:10px;
    &>li{@include inner_box();}
    strong{margin-bottom:7px;}
    i{position:absolute;right:5px;top:5px;@include shape(26px, 26px);display:flex;align-items:center;justify-content:center;text-align:center;cursor:default;}
  }
  .flex_right{flex-grow:1;} 
}

.approval_path{display:flex;margin-top:2px;
  li{
    &:before{content:"→";margin:0 3px;;}
    &:first-child:before{display:none;}
  }
}
.carbon_copy{margin-top:45px;}
.new_bedge{position:relative;top:-1px;@include badge_style(null);background-color:$red;padding:0 7px 1px;margin-left:5px;}

// 공통으로 쓰면 유용할 것 같은 아이들..!
.tit_bullet{
  h1{font-size:16px;color:#000;font-weight:500;margin-bottom:15px;
    &::before{position:relative;top:-3px;display:inline-block;content:'';width:6px;height:6px;margin-right:7px;border-radius:6px;background-color:#c4c4c4;}
  }
}
// 신규기안 approval_new : 작업중
.approval_often{
  ul{flex-wrap:wrap;}
  .explanation{display:block;margin-top:5px;font-size:12px;font-weight:normal;
    b{font-weight:bold;}
    &::before{@include fontello('\e877');margin:0 5px;color:#848890;font-size:14px;vertical-align:middle;}
  }
  .badge{@include badge_style(40px);display:inline;margin-left:3px;padding:0.5px 2.5px;border:1px solid #c0c5cf;background-color:#fff;color:#7c869e;font-weight:bold;}
}
.approval_new{margin-top:50px;
  ul{flex-wrap:wrap;margin-bottom:50px;
    li{min-width:155px;flex-grow:0;flex-shrink:1;flex-basis:calc((100% - 24px) / 7);
      a{width:100%;padding:15px;font-weight:500;white-space:pre;
        &::before{margin-right:7px;font-size:17px;line-height:19px;vertical-align:middle;}
      }
    }
  }
}
.approval_form{min-width:900px;background-color:#fff;
  .form_validity{margin-bottom:5px;}
  .tbl_workinfo{@include flex_between;margin:3px 0 5px;}
  &>*{padding:0 5px;}
  .form_wrap{display:grid;padding:15px;border:1px solid #c0c0c0;border-width:2px 0;
    input[type='date']{width:auto;}
    table{border:none;
      &.tbl_use_select{
        tr{
          &>*{text-align:center;}
          &>td:first-child{text-align:center;}
        }
      }
    }
    .tit_form{display:grid;grid-template-columns:1fr auto;min-height:90px;margin-bottom:15px;padding:8px;
      h2{font-size:17px;color:#000;font-weight:bold;text-align:center;align-self:center;white-space:pre;margin-right:20px;}
      table{
        th{padding:0;font-weight:normal;font-size:13px;text-align:center;}
        td{height:35px;text-align:center;}
      }
    }
    &+.btn_wrap{margin:10px 0;justify-content:flex-end;}
  }
  .editor_wrap{width:100%;margin-top:-1px;padding:13px 10px;border:1px solid #ebebeb;
    textarea{height:300px;}
  }
  .sign_wrap{padding:35px 0 15px;font-size:13px;color:#111;font-weight:bold;line-height:30px;
    p{
      &:first-child{text-align:center;}
      &:last-child{text-align:right;}
    }
  }
}
.approval_appointed{min-width:370px;width:370px;margin:20px 0 0 20px;
  &>article{margin-bottom:25px;
    &:last-of-type{margin-bottom:10px;}
  }
  h1{font-size:14px;}
  .tab_contents{
    li{@include flex_between;margin-bottom:4px;padding:6px 7px 7px 15px;border: 1px solid #ebebeb;border-radius:2px;
      span{font-size:11px;color:#717889;
        b{font-size:13px;color:#000;font-weight:500;}
      }
    }
  }
  .btn_slideclose{display:flex;flex-wrap:wrap;justify-content:flex-start;gap:5px;margin-top:5px;
    &>div{display:inline-block;position:relative;overflow:hidden;border-radius:3px;background:#ececec;cursor:pointer;transition:.2s;text-align:center;
      &:hover{background-color:#dbdbdb;
        div{right:0;}
        p{padding-left:5px;padding-right:15px;}
      }
      div{position:absolute;top:0;right:-13px;width:13px;height:100%;background:#8e8e8e;color:#fff;line-height:23px;font-size:0;transition:.3s;
        &::after{@include fontello('\eb2e');font-size:12px;}
      }
      p{padding:2px 10px;color:#717889;transition:.3s;}
    }
  }
}