$columnGap:25px;
//layout
.wrap{display:grid;grid-template-columns:60px 1fr;grid-template-rows:60px 1fr 59px;width:100%;min-width:1200px;min-height:100vh;font-size:13px;color:$black;font-family:"NanumGothic","나눔고딕","Malgun Gothic","맑은고딕","Apple SD Gothic Neo","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
.header{grid-row:1;grid-column:1/span 2;padding:0 $columnGap; border-bottom:1px solid #989898;}

//header
.header{
  grid-column:2;
  @include flex_between;font-size:20px;font-weight:bold;letter-spacing:-.5px;
  .logo{display:inline-block;@include f_blind;width:114px;height:25px;background:url(../images/logo.png) 0 0 no-repeat;vertical-align:text-bottom;margin-right:19px;}
  .t_red{margin-left:10px;}
}
//footer
.footer{display:flex;align-items:center;justify-content:center;grid-row:3;grid-column:2;border-top:1px solid #e1e1e1;padding:0 $columnGap;
  .connect{display:none;}
  .copy{font-size:14px;color:#818181;}
}
// login
.login_join_wrap{display:flex;align-items:center;justify-content:center; flex-direction:column;position:relative;text-align:center;height:100vh;
  
  .join{width:525px;max-width:100%;padding:20px;
    h2{margin-top:65px;font-size:26px;font-weight:600;color:#000;letter-spacing:-1.95px;}
    .join_step{@include flex_between;gap:2px;width:124px;margin:35px auto 0;border-radius:5px;overflow:hidden;
      &>li{width:25%;height:5px;background-color:#eeeeee;font-size:0;
        &.join_step_cur{background-color:#ff6a68;}
      }
    }
    .ipt_wrap{margin-top:50px;
      .ipt_box{
        &:has(.btn_dplc)>.btn_clear{right:105px;}
        &:has(.btn_dplc)>input{padding-right:125px;}
        .btn_clear+.btn_dplc{position:absolute;top:calc(50% - 15px);right:10px;min-width:80px;border-radius:20px;font-size:13px;line-height:28px;}
        label{margin-top:50px;font-size:14px;color:#000;font-weight:bold;}
        .join_info{position:absolute;;top:calc(100% + 5px);text-align:left;color:#0652de;font-weight:500;font-size:12px;
          &::before{content:'\e814';color:inherit;}
        }
      }
      .join_info{font-size:14px;letter-spacing:-0.3px;color:#000;
        &::before{@include fontello('\eb77');margin-right:5px;font-size:15px;vertical-align:middle;color:#d0d0d0;}
        &.warn{color:$red;
          &::before{content:'\eb77';font-size:13px;vertical-align:top;}
          &+input{margin-bottom:0;border-bottom:2px solid #f84a4a;}
        }
      }
    }
  }
  .logo{display:inline-block;width:180px;height:40px;background:url(../images/logo.svg) 0 0 no-repeat;background-size:contain;font-size:0;}
  .pannel{padding:70px 87px;border-radius:5px;border:1px solid #d7d7d7;margin-top:40px;
    h2{font-size:30px;font-weight:600;color:#000;letter-spacing:-2.25px;}
  }
  .ipt_wrap{margin-top:95px;
    .ipt_box{position:relative;
      input{width:100%;line-height:45px;border:none;border-bottom:1px solid #d0d0d0;font-size:16px;line-height:45px;color:#555;letter-spacing:-0.35px;margin-bottom:1px;border-radius:0;padding-right:30px;
        ::placeholder{font-size:14px;color:#9e9e9e;}
        &:focus,&:active{border-bottom:2px solid #000;outline:none;margin-bottom:0;}
      }
      .btn_clear{visibility:hidden;position:absolute;top:0;right:10px;width:13px;height:100%;line-height:1;font-size:0;
        &::after{@include fontello('\f06e');font-size:20px;color:#d0d0d0;}
      }
      label{display:block;text-align:left;}
    }
    .set_login{display:flex;gap:20px;font-size:13px;color:#989898;margin-top:20px;      
      input{margin-right:5px;}
    }
    .btn_login{display:block;width:100%;line-height:56px;background-color:$red;border:none;border-radius:28px;font-size:20px;color:#fff;font-weight:bold;text-align:center;margin-top:60px;
      &:hover{background-color:#cf2825;}
      &:disabled{background-color:#cfcfcf;}
    }
    .btn_skip{background-color:#979797;
      &:hover{background-color:#747474;}
      &+.btn_login{margin-top:13px;}
    }
  }
  .login_link{@include flex_between();margin-top:20px;
    a{font-size:12px;color:#696868;letter-spacing:-0.33px;
      &:hover{color:#000;}
    }
    li{float:left;position:relative;margin-left:7px;padding-left:7px;line-height:12px;
      &::after{position:absolute;top:53%;left:0;@include shape(1px,12px);background-color:#d7d7d7;transform:translateY(-50%);}
      &:first-child::after{display:none;}
    }
  }
  .profile_pic_wrap{@include flex_between;justify-content:space-evenly;align-items:flex-end;margin-bottom:30px;
    input[type="file"]{position:absolute;width:0;height:0;padding:0;overflow:hidden;border:0;}
    &>table{flex:1;}
    h3{font-size:14px;font-weight:bold;text-align:left;}
    h3+p{font-size:12px;text-align:left;}
    .emp_img,
    .emp_sign{position:relative;overflow:hidden;margin-bottom:10px;border-radius:5px;border:1px solid #bdbdbd;
      &>label{display:flex;overflow:hidden;align-items:center;justify-content:center;overflow:hidden;background-color:#ebebeb;}
      &:hover{
        .btn_del_photo{display:block;}
      } 
      &>.btn_del_photo{display:none;position:absolute;top:0;right:0;background-color:$red;color:#fff;font-size:0;
        &::before{@include fontello('\eb2e');width:20px;font-size:12px;line-height:20px;text-align:center;cursor:pointer;}
      }
      img{max-width:inherit;cursor:pointer;}
    }
    .emp_img{
      &>label{width:100px;height:100px;}
    }
    .emp_sign{
      &>label{width:95px;height:41px;}
    }
  }
  .join_result{display:grid;max-width:360px;grid-template-columns:max-content 30px auto;margin:60px auto 0;justify-content:center;text-align:left;line-height:20px;
    dt {grid-column-start:1;text-align:justify;font-weight:500;
      &:after{display: inline-block;content: '';width: 100%;}
    }
    dd {grid-column-start:3;}
  }
  
  footer{@include flex_between;width:100%;margin-top:28px;border-top-width:0;padding:0;
    .connect{display:block;letter-spacing:-.33px;color:#695858;font-size:13px;}
    .copy{font-size:11px;}
  }
}
@include mobile_only{ 
  .login_join_wrap{
    .login{width:100%;padding:20px;}
    .logo{width:140px;}
    .pannel{border:none;padding:0;margin-top:20px;
      h2{font-size:20px;}
    }
    .ipt_wrap{margin-top:20px;}
    footer{flex-direction:column;gap:15px;}
    &:has(.join){justify-content:initial;}
  }
}

//gnb
.gnb{height:100%;}
.util{height:inherit;}
.profile{
  position:relative;width:160px;height:inherit;padding:0 19px;
  .account{position:relative;top:50%;transform:translateY(-50%); display:inline-flex;align-items:center;font-size:13px;letter-spacing:-.33px;
    img{border-radius:50%;overflow:hidden;}
    b{margin-left:10px;
      &::before{position:absolute;left:0;top:0; @include shape(32px,32px);border:1px solid #ddd;border-radius:50%;}
      &::after{@include fontello("\f004");margin-left:8px;font-size:11px;}
    }
  }
  &:hover b::before{outline:4px solid rgba(60,64,67,.08);}
  &.on{background:$black;
    & b{color:$white;}
    & b::before{border-color:$black;}
    .my_layer{height:auto;}
  }
}
.my_layer{position:absolute;top:59px;left:0;width:100%; 
height:0;overflow:hidden;background-color:$black;z-index:100;
  .my_svc{padding:10px 29px;
    & a{display:flex;align-items:center;line-height:30px; font-size:13px;color:#a4a3a3;
      &::before{@include shape(16px,16px);background:url(../images/my_layer.png) 0 0 no-repeat;margin-right:17px;}
      &:hover{color:$white;
        &::before{background-image:url(../images/my_layer_fff.png);}
      }
    }
    @for $i from 1 to 5{
      & li:nth-child(#{$i}) a::before{
        background-position-y:-40px * ($i - 1);
      }
    } 
  }
}

//nav
.nav{position:relative;z-index:1;grid-row:1/span 3;grid-column:1/1;
background:$black;
  .nav_lst{display:flex;flex-direction:column;height:100%;}
  li{width:100%;height:60px;border-bottom:1px solid #575656;
    a{display:flex;flex-direction:column;align-items:center;justify-content:center;height:100%;color:$white;font-size:10px;letter-spacing:.25px;
      &::before{@include shape(26px,26px);background:url('../images/bg_nav.png') 0 0 no-repeat;position:relative;margin-bottom:3px;}
    }    
    &.on a,&:hover a{background:$red;color:$white;}
    &:last-child{margin-top:auto;}
  }
  @for $i from 1 to 11{
    & li:nth-child(#{$i}) a::before{
      background-position-y:-36px * ($i - 1);
    }
  }
}

$snbWidth:200px;
.snb{width:$snbWidth;border-right:1px solid #eee;text-align:center;padding:15px 0 30px;overflow:hidden;flex-shrink:0;background-color:#f9fafc;
  $border-color:#bec7d2;
  .snb_container{min-width:$snbWidth;}
  h2{padding:0 15px 12px;font-size:20px;font-weight:bold;letter-spacing:-.5px;border-bottom:1px solid $border-color;overflow:hidden;}
  .btn_workset{background-color:#edf0f3;border-bottom:1px solid $border-color;border-width:1px 0;padding:13px #{$columnGap - 10px};
    a{display:block;font-weight:bold;font-size:14px;letter-spacing:-.35px;border-radius:5px;line-height:32px;background-color:$white;}
  }
  .data_count .list_wrap{@include flex_between;padding:16px 0;border-bottom:1px solid $border-color;
    li{flex:1;font-weight:bold;font-size:12px;color:#000;border-left:1px solid #cdcdcd;line-height:10px;text-align:center;
      &:first-child{border-left:0;}
    }
    em{color:#ff5654;font-size:13px;margin-left:5px;}
  }
  .snb_lst{$snb-border-color:#ebebeb;text-align:left;
    & > li{position:relative;font-size:14px;border-bottom:1px solid $snb-border-color;background-color:#f9fafc;
      & > a{display:block;font-weight:bold;padding:10px #{$columnGap - 10px};letter-spacing:-.35px;}
      ul{border-top:1px solid $snb-border-color;background-color:$white;padding:10px 0;}
      .hasLayer:empty{padding:0;border-top-width:0;}
      ul a{display:flex;align-items:center;font-size:13px;color:#696969;padding:5px #{$columnGap - 10px} 6px;
        &::before{content:"·";font-weight:bold;font-size:18px;margin:0 8px;line-height:17px;}
        &:hover .layer_tool{display:block;}
      }
      &.on > a,&:hover > a{color:$red;}
      & li.on a,& li:hover a{background-color:#fee;color:#424242;}
    }
  }
  .nav_btn_add{position:absolute;top:10px;right:15px;@include ico_only;
    &::before{display:flex;align-items:center;justify-content:center;width:21px;height:21px;padding-bottom:2px;font-size:13px;content:"╊";border:1px solid $border-color;color:#989898;border-radius:2px;}
    &:hover::before{border-color:#989898;}
  }
  .layer_tool{display:none;margin-left:auto;
    .btn_ellipsis::before{height:16px;line-height:16px;font-size:11px;}
  }
}

//container
.container{grid-row:2;grid-column:2;display:flex;}
.contents{position:relative;flex-grow:1;padding:15px $columnGap 30px;}
.snb_fold{position:absolute;left:-1px;top:10px;display:flex;align-items:center;justify-content:center;width:12px;height:38px;
border:1px solid #ebebeb;border-left-width:0;border-radius:0 3px 3px 0;font-size:0;
z-index:10;
  &::before{@include fontello('\e890');font-size:20px;color:$red;}
  &[data-value="off"]::before{@include fontello('\e88f')}
}
.cont_tit{@include flex_between;font-weight:bold;border-bottom:1px solid #e1e1e1;letter-spacing:$tit_spacing;margin-bottom:12px;padding-bottom:15px;
  h1{font-size:18px;color:#363636;
    span{display:inline-block;font-size:14px;color:#696969;letter-spacing:-.35px;line-height:16px;padding-left:10px;border-left:1px solid #a0a0a0;margin-left:15px;}
  }
}
.bredcrumb{
  ul{@include flex_between;}
  li{letter-spacing:.65px;color:#888;font-weight:normal;
    &:first-child{
      &::before{top:0;@include fontello('\e81f');color:#888;margin:0;font-size:15px;}
      a{@include f_blind;}
    }
    &:last-child{font-weight:bold;color:#000;}
    &::before{position:relative;top:-1px;@include fontello('\f105');margin:0 5px;color:#888;font-weight:normal;}
  }
}
.cont_body{
  .section_tit{@include flex_between;margin-bottom:10px;
    h1{flex-grow:1;font-weight:bold;color:#363636;font-size:16px;letter-spacing:$tit_spacing;
      &::before{display:inline-block;font-family:fontello;margin-right:3px;}
    }
    &.tit_icon{
      h1::before{@include fontello('\ec32');color:$black;margin-right:5px;}
    }
    &.tit_none{justify-content:flex-end;}
  }
  .legend_org{display:flex;margin-right:5px;
    span{font-size:12px;color:#000;margin-right:14px;
      &::before{margin-right:5px;vertical-align:middle;}
    }
  }
}

.box_compact{@include box_style(15px,10px);}
.box_default{@include box_style(20px,20px);}
.box_default_w{@include box_style(15px,15px);background-color:#fff;border:1px solid #dddddd;}

// approval
.my_form,.box_tool{margin-bottom:15px;
  .btn_wrap{align-self:flex-start;}
  ul{display:flex;gap:4px;}
  li{background-color:$white;border:1px solid #aaa;border-radius:3px;
    a{display:block;line-height:28px;padding:0 8px;
      &::before{@include fontello('\f0f6');font-size:14px;color:#ff6664;margin-right:4px;}
    }
    &:hover{border-color:#e42b29;background-color:#fff5f5;color:#e42b29;font-weight:bold;}
  }
}
.my_approval{@include flex_between;align-items:stretch;
  .status{width:260px;margin-right:20px;
    ul{display:flex;flex-direction:column;gap:10px;max-height:550px;overflow-y:auto;}
    li{@include inner_box();
      strong{margin:2px 0 4px;}
      .badge{@include badge_style(54px)}      
    }
  }  
  .ls_stand_by{display:flex;flex-direction:column;gap:10px;
    &>li{@include inner_box();}
    strong{margin-bottom:7px;}
    i{position:absolute;right:5px;top:5px;@include shape(26px, 26px);display:flex;align-items:center;justify-content:center;text-align:center;cursor:default;}
  }
  .flex_right{flex-grow:1;} 
}

.approval_path{display:flex;margin-top:2px;
  li{
    &:before{content:"→";margin:0 3px;;}
    &:first-child:before{display:none;}
  }
}
.carbon_copy{margin-top:45px;}
.new_bedge{position:relative;top:-1px;@include badge_style(null);background-color:$red;padding:0 7px 1px;margin-left:5px;}

// 신규기안 approval_new :작업중
.approval_often{
  ul{flex-wrap:wrap;}
  .explanation{display:block;margin-top:5px;font-size:12px;font-weight:normal;
    b{font-weight:bold;}
    &::before{@include fontello('\e877');margin:0 5px;color:#848890;font-size:14px;vertical-align:middle;}
  }
  .badge{@include badge_style(40px);display:inline;margin-left:3px;padding:0.5px 2.5px;border:1px solid #c0c5cf;background-color:#fff;color:#7c869e;font-weight:bold;}
}
.approval_new{margin-top:50px;
  header{@include tit_bullet(h1);}
  ul{flex-wrap:wrap;margin-bottom:50px;
    li{min-width:155px;flex-grow:0;flex-shrink:1;flex-basis:calc((100% - 24px) / 7);
      a{width:100%;padding:15px;font-weight:500;white-space:pre;
        &::before{margin-right:7px;font-size:17px;line-height:19px;vertical-align:middle;}
      }
    }
  }
}
.approval_form{min-width:900px;background-color:#fff;
  header{padding-bottom:5px;}
  header h1{font-size:16px;font-weight:bold;}
  .form_validity{margin-bottom:10px;}
  .tbl_workinfo{@include flex_between;margin:3px 0 5px;
    .btn_wrap{margin-left:auto;}
  }
  &>*{padding:0 5px;}
  .form_wrap{display:grid;padding:15px;border:1px solid #c0c0c0;border-width:2px 0;
    input[type='date']{width:auto;}
    table{border:none;
      &.tbl_use_select{
        tr{
          &>*{text-align:center;}
          &>td:first-child{text-align:center;}
        }
      }
    }
    .approval_status{      
      strong{margin-right:5px;font-size:11px;}
      th:first-child{width:30px;}
      td{font-size:11px;width:110px;padding:3px;}
      tr:last-child td{height:25px;}
    }
    .tit_form{display:grid;grid-template-columns:1fr auto;min-height:90px;margin-bottom:15px;padding:8px;
      h2{font-size:17px;color:#000;font-weight:bold;text-align:center;align-self:center;white-space:pre;margin-right:20px;}
      table{
        th{padding:0;font-weight:normal;font-size:13px;text-align:center;}
        td{height:35px;text-align:center;}
      }
    }
    &+.btn_wrap{margin:10px 0;justify-content:flex-end;}
  }
  .editor_wrap{width:100%;margin-top:-1px;padding:13px 10px;border:1px solid #ebebeb;
    textarea{height:300px;}
  }
  .sign_wrap{padding:35px 0 15px;font-size:13px;color:#111;font-weight:bold;line-height:30px;
    p{
      &:first-child{text-align:center;}
      &:last-child{text-align:right;}
    }
  }
}
.approval_view .my_approval,
.approval_draft .my_approval{gap:20px;}
.approval_view .approval_set,
.approval_draft .approval_set{margin-top:18px;}

.approval_set{width:400px;
  & > .box_default_w{margin-top:10px;
    &:last-of-type{margin-bottom:10px;}
    @include tit_bullet(h1);
    h1{font-size:14px;}
  }
  .appr_path{counter-reset:appr_path;
    li{@include flex_between;margin-bottom:4px;padding:6px 7px 7px 30px;border:1px solid #ebebeb;border-radius:2px;counter-increment:appr_path;font-size:11px;
      .user_module{left:-15px;font-size:13px;color:#000;font-weight:500;
        &::before{content:counter(appr_path)".";display:inline-block;width:15px;}
      }    
    }
    .btn_switch{gap:3px;padding:0;
      label{min-width:40px;border-width:1px;border-radius:2px;line-height:23px;font-size:12px;padding:0;border-color:#aaa;color:inherit;font-weight:normal;
        &:hover{font-weight:bold;}
      }
      input:checked+label{background-color:#f05050;border-color:#f05050;color:#fff;font-weight:bold;}
    }
  }
  .tab_contents :not(first).appr_path{margin-top:4px;}
  .set_list{@include tit_bullet(dt);display:grid;grid-template:auto / 100px 1fr;align-items:center;row-gap:10px;
    dt{font-size:14px;margin-bottom:0;}
    .rel_doc{align-self:flex-start;line-height:28px;}
    .rel_doc + dd{display:flex;flex-flow:column wrap;gap:5px;
      label{white-space:nowrap;padding-left:15px;font-size:12px;color:#999;margin-left:auto;}
    }
    a:hover{text-decoration:underline;}
  }
  .preview{flex-shrink:0;gap:0;font-size:11px;color:#999;align-items:center;margin-left:10px;line-height:1;
    &::before{@include shape(1px, 10px);background-color:#ddd;margin-right:10px;}
  }
}
.approval_view{
  .appr_path li{flex-direction:column;align-items:flex-start;
    .review_txt{width:100%;background-color:#ececec;padding:5px;border-radius:3px;margin:8px 0 3px;font-size:13px;}
    .appr_result{align-self:flex-end;
      b{@include badge_style(null);background:#ddd;padding:1px 5px 0;font-size:11px;}
      .draft{background-color:$blue;}
      .reject{background-color:$red;}
      .approve{background-color:$green;}
      .agree{background-color:$yellow;}
    }
  }
}
@include desktop{
  .approval_view .my_approval,
  .approval_draft .my_approval{flex-flow:column wrap;
    .approval_set{order:-1;width:100%;display:grid;gap:5px;margin-top:0;
    grid-template-areas:"path refer""path etc""path attach"; 
      & > .box_default_w{margin:0;padding:15px;
        &:nth-of-type(1){grid-area:path;min-width:450px;}
        &:nth-of-type(2){grid-area:refer;}
        &:nth-of-type(3){grid-area:attach;}
        &:nth-of-type(4){grid-area:etc;}
      }
    }
  }
}
.user_module{display:flex;gap:5px;align-items:center;position:relative;
  .user_photo{display:inline-block;width:18px;height:18px;overflow:hidden;border-radius:50%;border:1px solid #ccc;
    img{width:100%;height:auto;vertical-align:top;}
  }
  b{font-size:11px;color:#717889;align-self:flex-end;}
}  

.file_attach{position:relative;display:flex;align-items:center;min-height:70px;border:2px dashed #ebebeb;}
.drop_zone,
.attach_zone{padding:0 15px;align-self:flex-start;}
.attach_list{padding-bottom:10px;}
.attach_list li{position:relative;display:flex;gap:5px;margin-top:10px;z-index:1000;text-align:left;line-height:17px;}
.file_attach:hover{border-color:#ccc; }
.file_attach .drop_info{position:absolute;left:0;top:50%;transform:translateY(-50%);display:flex;gap:30px;align-items:center; color:#989898;text-align:left;word-break:keep-all;font-size:12px;line-height:15px;letter-spacing:-.3px;padding:0 15px;
  &::before{display:flex;align-items:center;width:101px;height:36px;border:2px solid #d83d48;border-radius:5px;background:url(../images/ic-file.png) 11px 50% no-repeat,#fff;content:"파일선택";color:#f05050;padding:0 14px 0 43px;}
  p{flex-grow:1;}
  span{color:#000;}
}
.attach_thumb{display:block;max-width:20px;max-height:20px;}
.file_attach{overflow:hidden;position:relative;text-align:center;}
.file_attach .btn_file{position:absolute;top:-1px;left:-1px; right:-1px;bottom:-1px;border:none;opacity:0;filter:alpha(opacity=0);cursor:pointer;outline:none;z-index:100;}
.file_del{@include shape(15px,17px);flex-shrink:0;
  &::before{@include fontello('\e928');font-size:13px;color:$red;line-height:17px;} 
}
.stamp_blue{@include stamp($skyblue);}
.stamp_red{@include stamp($red);}
.file_attached{position:relative;
  .attach_list li a{display:flex;gap:7px;
    &:hover{text-decoration:underline;}
  }
  i{flex-shrink:0;position:relative;top:1px;}  
}
.tbl_approval_outbox td,
.tbl_approval_inbox td{@include alignL(4);}
