$columnGap:25px;
//layout
.wrap{display:grid;grid-template-columns:60px 1fr;grid-template-rows:60px 1fr 59px;width:100%;min-width:1200px;min-height:100vh;font-size:13px;color:$black;font-family:"NanumGothic","나눔고딕","Malgun Gothic","맑은고딕","Apple SD Gothic Neo","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
.header{grid-row:1;grid-column:1/span 2;padding:0 $columnGap; border-bottom:1px solid #989898;}

//header
.header{
  grid-column:2;
  @include flex_between;font-size:20px;font-weight:bold;letter-spacing:-.5px;
  .logo{display:inline-block;@include f_blind;width:114px;height:25px;background:url(../images/logo.png) 0 0 no-repeat;vertical-align:text-bottom;margin-right:19px;}
  .t_red{margin-left:10px;}
}
//footer
.footer{display:flex;align-items:center;justify-content:center;grid-row:3;grid-column:2;border-top:1px solid #e1e1e1;padding:0 $columnGap;
  .connect{display:none;}
  .copy{font-size:14px;color:#818181;}
}
// login
.login_join_wrap{
  display:flex;align-items:center;flex-direction:column;position:relative;text-align:center;min-height:100vh;padding-top:50px;
  .logo{display:inline-block;width:180px;height:40px;background:url(../images/logo.svg) 0 0 no-repeat;background-size:contain;font-size:0;}
  .pannel{padding:70px 87px;border-radius:5px;border:1px solid #d7d7d7;margin-top:40px;
    h2{font-size:30px;font-weight:600;color:#000;letter-spacing:-2.25px;}
    .auth{max-width:308px;}
  }
  p{font-size:16px;color:#000;letter-spacing:-.4px;text-align:left;word-break:keep-all;}
  .att{padding-left:13px;text-indent:-13px;margin-bottom:30px;
    &::before,em{color:$red;}
    &+p{background:#edf0f3;padding:10px;font-size:13px;border-radius:3px;
      b{font-weight:bold;}
    }
  }
  .info{font-size:12px;color:#979797;margin-top:14px;line-height:15px;
    &::before{margin-left:5px;font-size:15px;color:#d7d7d7;}
  }
  .btn_lst{display:flex;flex-direction:column;gap:13px;padding-top:45px;}
  .ipt_wrap{
    .ipt_box{position:relative;
      input{width:100%;line-height:45px;padding-right:30px;border:none;border-bottom:1px solid #d0d0d0;font-size:16px;line-height:45px;color:#555;letter-spacing:-0.35px;margin-bottom:1px;border-radius:0;
        ::placeholder{font-size:14px;color:#9e9e9e;}
        &:focus,&:active{border-bottom:2px solid #000;outline:none;margin-bottom:0;}
      } 
    }
    .btn_clear{visibility:hidden;position:absolute;top:0;right:10px;width:13px;height:100%;line-height:1;font-size:0;
      &::after{@include fontello('\f06e');font-size:20px;color:#d0d0d0;}
    }
    .set_login{display:flex;gap:20px;font-size:13px;color:#989898;margin:20px 0;      
      input{margin-right:5px;}
    }
  }
  .btn_login{display:block;width:100%;line-height:56px;background-color:$red;border:none;border-radius:28px;font-size:20px;color:#fff;font-weight:bold;text-align:center;
    &:hover{background-color:#cf2825;}
    &:disabled{background-color:#cfcfcf;}
  }
  .btn_default{@extend .btn_login;background-color:#cfcfcf;
    &:hover{background-color:#979797;}
  }
  .btn_skip{background-color:#979797;
    &:hover{background-color:#747474;}
    &+.btn_login{margin-top:13px;}
  }
  .login_link{@include flex_between();margin-top:20px;
    a{font-size:12px;color:#696868;letter-spacing:-0.33px;
      &:hover{color:#000;}
    }
    li{float:left;position:relative;margin-left:7px;padding-left:7px;line-height:12px;
      &::after{position:absolute;top:53%;left:0;@include shape(1px,12px);background-color:#d7d7d7;transform:translateY(-50%);}
      &:first-child::after{display:none;}
    }
  }
  footer{@include flex_between;width:100%;margin-top:28px;border-top-width:0;padding:0;
    .connect{display:block;letter-spacing:-.33px;color:#695858;font-size:13px;}
    .copy{font-size:11px;}
  }
  .login_step01{margin-top:95px;}
  .login_step02{margin-top:50px;
    .auth{
      button{@extend .btn_default;margin:44px 0;}
    }
    .ipt_wrap{margin-top:40px;}
    .btn_clear{right:157px;}
    .re_wrap{position:absolute;right:0;top:50%;font-size:13px;transform:translateY(-50%);
      .re_code{color:#717171;border:1px solid #dadada;border-radius:15px;line-height:30px;padding:0 22px;font-weight:bold;letter-spacing:-.98px;margin-left:25px;
        &:hover{border-color:#717171;}
      }
    }
  }
  .login_step03{
    .auth{margin:100px 0 40px;}
    h1{color:$red;font-size:30px;font-weight:bold;letter-spacing:-.3px;padding-bottom:20px;}
    .info{font-size:16px;color:#000;line-height:1.5;padding-left:18px;text-indent:-13px;
      &::before{font-size:22px;margin-right:5px;vertical-align:middle;}
    }
  }
  .join{width:525px;max-width:100%;padding:20px;
    h2{margin-top:65px;font-size:26px;font-weight:600;color:#000;letter-spacing:-1.95px;}
    .join_step{@include flex_between;gap:2px;width:124px;margin:35px auto 0;border-radius:5px;overflow:hidden;
      &>li{width:25%;height:5px;background-color:#eeeeee;font-size:0;
        &.join_step_cur{background-color:#ff6a68;}
      }
    }
    .ipt_wrap{margin-top:50px;
      %info{margin-top:3px;color:#000;letter-spacing:-0.3px;
        &::before{@include fontello('\eb77');margin-right:5px;font-size:13px;color:#d0d0d0;vertical-align:middle;}
      }
      .info{
        &_import{@extend %info;font-size:14px;text-align:center;
          &::before{content:'\eb77';}
        }
        &_com{@extend %info;font-weight:500;font-size:12px;text-align:left;color:$black;
          &::before{content:'\eb77';}
        }
        &_ok{@extend .info_com;color:#0652de;
          &::before{content:'\e814';font-size:15px;color:inherit;}
        }
        &_warn{@extend .info_com;color:$red;
          &::before{content:'\eb77';color:inherit;}
        }
      }
      .ipt_box{
        &:has(.btn_dplc)>.btn_clear{right:105px;}
        &:has(.btn_dplc)>input{padding-right:125px;}
        .btn_clear+.btn_dplc{position:absolute;top:calc(50% - 15px);right:10px;min-width:80px;border-radius:20px;font-size:13px;line-height:28px;}
        label{display:block;text-align:left;margin-top:35px;font-size:14px;color:#000;font-weight:bold;
          & + .ipt_box{
            &>*:first-child {margin-top: 15px;}
            $types : "text","password","email","number";
            @each $type in $types {
              &>input[type=#{$type}]:first-child {margin-top: 0;}
            }
          }
        }
        .btn_switch{
          label{flex:1;margin-top:0;text-align:center;line-height:31px;}
        }
        select{line-height:35px;padding-left:10px;}
        .file_input{
          &>input{flex:1;
            &:last-child{flex:1;}
          }
        }
      }
    }
    .profile_pic_wrap{@include flex_between;justify-content:space-evenly;align-items:flex-end;margin-bottom:30px;
      input[type="file"]{position:absolute;width:0;height:0;padding:0;overflow:hidden;border:0;}
      &>table{flex:1;}
      h3{font-size:14px;font-weight:bold;text-align:left;}
      h3+p{font-size:12px;text-align:left;}
      .emp_img,
      .emp_sign{position:relative;overflow:hidden;margin-bottom:10px;border-radius:5px;border:1px solid #bdbdbd;
        &>label{display:flex;overflow:hidden;align-items:center;justify-content:center;overflow:hidden;background-color:#ebebeb;}
        &:hover{
          .btn_del_photo{display:block;}
        } 
        &>.btn_del_photo{display:none;position:absolute;top:0;right:0;background-color:$red;color:#fff;font-size:0;
          &::before{@include fontello('\eb2e');width:20px;font-size:12px;line-height:20px;text-align:center;cursor:pointer;}
        }
        img{max-width:inherit;cursor:pointer;}
      }
      .emp_img{
        &>label{width:115px;height:140px;}
      }
      .emp_sign{
        &>label{width:95px;height:41px;}
      }
    }
    .join_result{display:grid;max-width:360px;grid-template-columns:max-content 30px auto;margin:60px auto 0;justify-content:center;text-align:left;line-height:20px;
      dt{grid-column-start:1;text-align:justify;font-weight:bold;
        &:after{display:inline-block;content:'';width:100%;}
      }
      dd{grid-column-start:3;}
    }
    .join_agree{
      li{margin-bottom:30px;
        &:last-child,
        &:only-child{margin-bottom:0;}
        &>div{height:150px;overflow-y:auto;padding:10px;border-radius:3px;font-size:13px;background:#edf0f3;text-align:left;color:#575757;
          b{font-weight:600;}
          em{font-style:italic;}
        }
      }
      label{display:flex;font-weight:bold;margin-bottom:5px;font-size:15px;align-items:center;
        &>*{margin-right:5px;}
      }
    }
  }
}
@include mobile_only{ 
  .login_join_wrap{
    .login{width:100%;padding:20px;}
    .logo{width:140px;}
    .pannel{border:none;padding:0;margin-top:20px;
      h2{font-size:20px;}
    }
    .ipt_wrap{margin-top:20px;}
    footer{flex-direction:column;gap:15px;}
    &:has(.join){justify-content:initial;}
  }
}
// error
.error_wrap{display:flex;height:100vh;flex-direction:column;align-items:center;justify-content:center;text-align:center;gap:50px;
  *{font-family:'Malgun Gothic';}
  .m_con{display:none;}
  .error{
    span{font-size:38px;font-weight:bold;color:#4b5468;letter-spacing:-4.13px;}
    b{color:#f25560;}
    p{margin-top:10px;font-size:22px;color:#484848;letter-spacing:-2px;}
  }
  .btn_back{display:block;width:295px;border:1px solid #4b5468;border-radius:33px;font-size:20px;font-weight:500;color:#4b5468;line-height:60px;text-align:center;transition:.5s;
    &:hover{background-color:#4b5468;color:#fff;}
  }
}
@include mobile_only{ 
  .error_wrap{gap:40px;
    .m_con{display:block;}
    img{width:50%;}
    .error{
      span{font-size:22px;letter-spacing:0;}
      p{margin-top:20px;font-size:15px;letter-spacing:-2px;}
    }
    .btn_back{width:60%;font-size:16px;line-height:40px;
    }
  }
}

// user
// info 임시
.profile_wrap{display:grid;gap:20px;grid-template-columns:repeat(auto-fit, minmax(700px, 1fr));
  &>.profile_pic_wrap{padding:13px 15px 13px 0;border:1px solid #ddd;border-radius:5px;
    dl{flex:1;padding:0;border:none;}
  }
  dl{
    display:grid;grid-template:auto / 130px 1fr 130px 1fr;align-items:start;align-content:space-around;
    & > dd{width:100%;}
    .span3{grid-column:2 / span 3;}
  }
  .profile_address{&>*{margin-bottom:3px;}
    .file_input{max-width:calc(50% - 130px);}
  }
  .profile_password_reset{@include flex_between;justify-content:flex-start;align-items:center;
    &>button{margin-left:10px;border-radius:5px;font-weight:normal;line-height:21px;}
  }
  .profile_pic_wrap{@include flex_between;
    input[type="file"]{position:absolute;width:0;height:0;padding:0;overflow:hidden;border:0;}
    &>table{flex:1;}
    &>div{position:relative;overflow:hidden;margin:0 10px;border-radius:5px;border:1px solid #bdbdbd;
      &>label{display:flex;overflow:hidden;align-items:center;justify-content:center;overflow:hidden;background-color:#ebebeb;}
      &:hover{
        .btn_del_photo{display:block;}
        }
      &>.btn_del_photo{display:none;position:absolute;top:0;right:0;background-color:$red;color:#fff;font-size:0;
        &::before{@include fontello('\eb2e');width:20px;font-size:12px;line-height:20px;text-align:center;cursor:pointer;}
      }
    }
    .emp_img{
      &>label{width:100px;height:128px;}
    }
    .emp_sign{margin:0;
      &>label{width:220px;height:60px;}
    }
    img{cursor:pointer;}
  }
}
.infolist_wrap{
  dl{display:grid;column-gap:30px;padding:13px 15px 13px 0;border:1px solid #ddd;border-radius:5px;
    .file_input>*{flex:auto;}
    .file_input>button{flex:none;}
    &>*{padding:6px 5px;}
    &>dt{padding-left:30px;font-size:13px;font-weight:bold;color:#111;}   
    &.emp_group_wrap{grid-template:auto/130px 1fr;}
    }
  dt.required{position:relative;
    &::before{left:19px;}
  }
  dt:has(.required)label{position:relative;}
  [required]::before,
  .required::before{position:absolute;left:-10px;}
  .required_info{font-size:11px;letter-spacing:-0.28px;line-height:17px;
    &::before{@include fontello('\eaf1');position:relative;top:1px;margin-right:5px;font-size:15px;}
  }
}

//gnb
.gnb{display:flex;height:100%;}
.gnb_lst{display:flex;
  li{width:60px;position:relative;}
  a{height:100%;display:flex;align-items:center;justify-content:center;@include f_blind;
    &::before{@include shape(24px,24px);background:url(../images/btn_top_svc.png) 0 0 no-repeat;}
    &.on,
    &:hover{background-color:#efeded;
      &::before{background-image:url(../images/btn_top_svc_on.png);}
    }
  }
  @for $i from 1 to 4{
    & li:nth-child(#{$i}) a::before{
      background-position-y:-35px * ($i - 1);
    }
  }
  .new_bedge{position:absolute;top:5px;left:34px;border-radius:50% 50% 50% 3px;min-width:22px;padding:2px 2px 0;font-size:11px;}
}
.util{height:inherit;}
.profile{
  position:relative;width:160px;height:inherit;padding:0 19px;
  .account{position:relative;top:50%;transform:translateY(-50%); display:inline-flex;align-items:center;font-size:13px;letter-spacing:-.33px;
    img{border-radius:50%;overflow:hidden;object-fit:cover;}
    b{margin-left:10px;
      &::before{position:absolute;left:0;top:0; @include shape(32px,32px);border:1px solid #ddd;border-radius:50%;}
      &::after{@include fontello("\f004");margin-left:8px;font-size:11px;}
    }
  }
  &:hover b::before{outline:4px solid rgba(60,64,67,.08);}
  &.on{background:$black;
    & b{color:$white;}
    & b::before{border-color:$black;}
    .my_layer{height:auto;}
  }
}
.my_layer{position:absolute;top:59px;left:0;width:100%; 
height:0;overflow:hidden;background-color:$black;z-index:100;
  .my_svc{padding:10px 29px;
    & a{display:flex;align-items:center;line-height:30px; font-size:13px;color:#a4a3a3;
      &::before{@include shape(16px,16px);background:url(../images/my_layer.png) 0 0 no-repeat;margin-right:17px;}
      &:hover{color:$white;
        &::before{background-image:url(../images/my_layer_fff.png);}
      }
    }
    @for $i from 1 to 5{
      & li:nth-child(#{$i}) a::before{
        background-position-y:-40px * ($i - 1);
      }
    } 
  }
}

//nav
.nav{position:relative;z-index:1;grid-row:1/span 3;grid-column:1/1;
background:$black;
  .nav_lst{display:flex;flex-direction:column;height:100%;}
  li{width:100%;height:60px;border-bottom:1px solid #575656;
    a{display:flex;flex-direction:column;align-items:center;justify-content:center;height:100%;color:$white;font-size:10px;letter-spacing:.25px;
      &::before{@include shape(26px,26px);background:url('../images/bg_nav.png') 0 0 no-repeat;position:relative;margin-bottom:3px;}
    }    
    &.on a,&:hover a{background:$red;color:$white;}
    &:last-child{margin-top:auto;}
  }
  @for $i from 1 to 11{
    & li:nth-child(#{$i}) a::before{
      background-position-y:-36px * ($i - 1);
    }
  }
}

$snbWidth:250px;
.snb{width:$snbWidth;border-right:1px solid #eee;text-align:center;padding:15px 0 0;overflow:hidden;flex-shrink:0;background-color:#f9fafc;
  $border-color:#bec7d2;
  .snb_container{min-width:$snbWidth;}
  h2{padding:0 15px 12px;font-size:20px;font-weight:bold;letter-spacing:-.5px;border-bottom:1px solid $border-color;overflow:hidden;}
  .btn_workset{background-color:#edf0f3;border-bottom:1px solid $border-color;border-width:1px 0;padding:13px #{$columnGap - 10px};
    button,a{display:block;width:100%;font-weight:bold;font-size:14px;letter-spacing:-.35px;border-radius:5px;line-height:32px;background-color:$white;}
  }
  .data_count .list_wrap{@include flex_between;padding:16px 0;border-bottom:1px solid $border-color;
    li{flex:1;font-weight:bold;font-size:12px;color:#000;border-left:1px solid #cdcdcd;line-height:10px;text-align:center;
      &:first-child{border-left:0;}
    }
    em{color:#ff5654;font-size:13px;margin-left:5px;}
  } 
  .tab{gap:0;justify-content:space-between;border-color:$border-color;
    li{min-width:auto;flex:1;}
    a{top:0;border-radius:0;border-color:$border-color;border-width:0 0 0 1px;font-size:12px;letter-spacing:-.83px;padding:11px 0 10px;color:#adadad;}
    .on a{color:#ff6664;}
  }
  .tab_container{background-color:$white;
    .tab_contents{margin-top:0;}
  }
  $snb_item_padding:10px #{$columnGap - 10px};
  $snb-border-color:#ebebeb;
  .filter{position:relative;padding:7px #{$columnGap - 10px};color:#989898;border-bottom:1px solid $snb-border-color;
    .flex_ipt input{flex-grow:1;color:inherit;margin-right:2px;}
    [name="ipt_year"]+.unit{position:absolute;left:50px;color:inherit;}
  }
  .proj_count{padding:8px #{$columnGap - 10px};border-bottom:1px solid $snb-border-color;
    .list_wrap{@include flex_between;gap:5px;
      li{flex:1 0 53px;color:$white;font-weight:700;border-radius:5px;padding:2px 0;font-size:12px;letter-spacing:-.6px;
        em{display:block;}
      }
    }
  }
  .snb_lst{text-align:left;
    & > li{position:relative;font-size:14px;border-bottom:1px solid $snb-border-color;background-color:#f9fafc;
      & > h3,
      & > a{display:block;font-weight:bold;padding:$snb_item_padding;letter-spacing:-.35px;}
      ul{border-top:1px solid $snb-border-color;background-color:$white;padding:10px 0;
        %sublst,
        a{display:flex;align-items:center;font-size:13px;color:#696969;padding:5px 5px 6px #{$columnGap - 10px};
          &::before{content:"·";font-weight:bold;font-size:18px;margin:0 8px;line-height:17px;}
          &:hover .layer_tool{display:block;}
        }      
      }
      .hasLayer:empty{padding:0;border-top-width:0;}
      &.on > a,&:hover > a{color:$red;}
      & li.on a,& li:hover a{background-color:#fee;color:#424242;}
      & li.on a{color:$red;font-weight:bold;} // on 추가
    }
  }
  label input{flex-shrink:0;margin-right:5px;top:0;}
  .ipt_color{width:20px;height:25px;min-height:auto;padding:0;border:none; vertical-align:initial;}
  .plan .snb_lst > li ul label{@extend %sublst;display:inline-flex;padding-left:25px;max-width:#{$snbWidth  - 30px};
      &::before{display:none;}
  }
  .plan_add{padding:$snb_item_padding;}
  .tooltip{left:0;right:auto;
    .user_module{flex-direction:column;gap:0;}
  }
  .nav_btn_add{position:absolute;top:10px;right:15px;@include ico_only;
    &::before{display:flex;align-items:center;justify-content:center;width:21px;height:21px;font-size:13px;content:"╊";border:1px solid $border-color;color:#989898;border-radius:2px;}
    &:hover::before{border-color:#989898;}
  }
  .layer_tool{display:none;margin-left:auto;
    .btn_ellipsis::before{height:16px;line-height:16px;font-size:11px;}
  }
}

//container
.container{grid-row:2;grid-column:2;display:flex;}
.contents{position:relative;flex-grow:1;padding:15px $columnGap 30px;}
.snb_fold{position:absolute;left:-1px;top:10px;display:flex;align-items:center;justify-content:center;width:12px;height:38px;
border:1px solid #ebebeb;border-left-width:0;border-radius:0 3px 3px 0;font-size:0;
z-index:10;
  &::before{@include fontello('\e890');font-size:20px;color:$red;}
  &[data-value="off"]::before{@include fontello('\e88f')}
}
.cont_tit{@include flex_between;font-weight:bold;border-bottom:1px solid #e1e1e1;letter-spacing:$tit_spacing;margin-bottom:12px;padding-bottom:15px;
  h1{font-size:18px;color:#363636;
    span{display:inline-block;font-size:14px;color:#696969;letter-spacing:-.35px;line-height:16px;padding-left:10px;border-left:1px solid #a0a0a0;margin-left:15px;}
  }
}
.bredcrumb{
  ul{@include flex_between;}
  li{letter-spacing:.65px;color:#888;font-weight:normal;
    &:first-child{
      &::before{top:0;@include fontello('\e81f');color:#888;margin:0;font-size:15px;}
      a{@include f_blind;}
    }
    &:last-child{font-weight:bold;color:#000;}
    &::before{position:relative;top:-1px;@include fontello('\f105');margin:0 5px;color:#888;font-weight:normal;}
  }
}
.cont_body{
  .section_tit{@include flex_between;margin-bottom:10px;
    h1{flex-grow:1;font-weight:bold;color:#363636;font-size:16px;letter-spacing:$tit_spacing;
      &::before{display:inline-block;font-family:fontello;margin-right:3px;}
    }
    &.tit_icon{
      h1::before{@include fontello('\ec32');color:$black;margin-right:5px;}
    }
    &.tit_none{justify-content:flex-end;}
  }
  .legend_org{display:flex;margin-right:5px;
    span{font-size:12px;color:#000;margin-right:14px;
      &::before{margin-right:5px;vertical-align:middle;}
    }
  }
}

.box_compact{@include box_style(15px,10px);
  .btn_wrap{margin-left:auto;}
}
.box_default{@include box_style(20px,20px);}
.box_default_w{@include box_style(15px,15px);background-color:#fff;border:1px solid #dddddd;}

.count{display:inline-flex;font-size:13px;line-height:14px;color:#555;gap:15px;
  border-left:1px solid #aaa;padding-left:15px;margin-left:10px;box-shadow:1px 0 1px #fff inset;font-weight:normal;
  .uncheck em{color:$red;}
  .receipt em{color:$blue;}
  em{font-weight:bold;margin-left:6px;word-spacing:-.1em;
    &::before,&::after{content:"( ";font-weight:normal;color:#555;}
    &::after{content:" )"}    
  }  
}

// approval
.my_form,.box_tool{margin-bottom:15px;
  .btn_wrap{align-self:flex-start;}
  ul{display:flex;gap:4px;}
  li{background-color:$white;border:1px solid #aaa;border-radius:3px;
    a{display:block;line-height:28px;padding:0 8px;
      &::before{@include fontello('\f0f6');font-size:14px;color:#ff6664;margin-right:4px;}
    }
    &:hover{border-color:#e42b29;background-color:#fff5f5;color:#e42b29;font-weight:bold;}
  }
}
.my_approval{@include flex_between;align-items:stretch;
  %approval_list{display:flex;flex-direction:column;overflow-y:auto;gap:9px;padding:5px;width:calc(100% + 10px);max-height:541px;transform:translate(-5px,-5px);
    &>li{
      &:empty{background-color:rgba(0, 0, 0, .05);box-shadow:none!important;}
    }
  }
  .status{width:260px;margin-right:20px;
    ul{@extend %approval_list;
      &:empty::before{@include empty_box('요청 문서가 없습니다');background-color:rgba(0, 0, 0, .05);}
    }
    li{@include inner_box(8px);min-height:99px;
      strong{margin:2px 0 4px;}
      .badge{@include badge_style(54px)}
      dl{
        dt{float:left;min-width:55px;
          &::after{content:":";margin:0 3px;}
        }
      }
    }
  }  
  .ls_stand_by{@extend %approval_list;
    &>li{@include inner_box(10px);min-height:84px;}
    strong{margin-bottom:7px;}
    i{position:absolute;right:5px;top:5px;@include shape(26px, 26px);display:flex;align-items:center;justify-content:center;text-align:center;cursor:default;}
  }
  .flex_right{flex-grow:1;}  
}
.approval_path{display:flex;margin-top:2px;
  li{
    &:before{content:"→";margin:0 3px;;}
    &:first-child:before{display:none;}
  }
}
.stand_by{
  .ls_stand_by{height:285px;
    &:empty::before{@include empty_box('결재 대기 미확인 문서가 없습니다.');background-color:#e3e3e3;}    
  }
}
.carbon_copy{margin-top:30px;
  .ls_stand_by{height:187px;
    &:empty::before{@include empty_box('수신 참조 미확인 문서가 없습니다.');background-color:#e3e3e3;}
  }
}
.new_bedge{position:relative;top:-1px;@include badge_style(null);background-color:$red;padding:0 7px 1px;margin-left:5px;}
.approval_often{
  ul{flex-wrap:wrap;}
  .explanation{@include explanation;}
  .badge{@include badge_style(40px);display:inline;margin-left:3px;padding:0.5px 2.5px;border:1px solid #c0c5cf;background-color:#fff;color:#7c869e;font-weight:bold;}
}
.approval_new{margin-top:50px;
  header{@include tit_bullet(h1);}
  ul{flex-wrap:wrap;margin-bottom:50px;
    li{display:flex;align-items:center;min-width:155px;flex-grow:0;flex-shrink:1;flex-basis:calc((100% - 24px) / 7);
      a{position:relative;width:100%;padding:15px;padding-left:30px;font-weight:500;line-height:20px;
        &::before{position:absolute;top:16px;left:10px;margin-right:7px;font-size:17px;line-height:19px;vertical-align:middle;}
      }
    }
  }
}
.approval_form{min-width:900px;background-color:#fff;
  header{padding-bottom:5px;}
  header h1{font-size:16px;font-weight:bold;}  
  .form_validity{margin-bottom:10px;}
  .tbl_workinfo{@include flex_between;margin:3px 0 5px;
    .btn_wrap{margin-left:auto;}
    .budget{font-size:15px;font-weight:900;}
  }
  &>*{padding:0 5px;}
  .form_wrap{display:grid;padding:15px;border:1px solid #c0c0c0;border-width:2px 0;
    input[type='date']{width:auto;}
    table{border:none;
      &.tbl_use_select{
        tr{
          &>*{text-align:center;}
          &>td:first-child{text-align:center;padding:5px;}
        }
      }
    }
    .approval_status{      
      strong{margin-right:5px;font-size:11px;}
      th:first-child{width:27px;}
      td{font-size:11px;width:110px;padding:3px;border-right:1px solid #ebebeb;}
      tr:last-child td{height:25px;}
    }
    .tit_form{display:grid;grid-template-columns:1fr auto;min-height:90px;margin-bottom:15px;padding:8px;
      h2{font-size:17px;color:#000;font-weight:bold;text-align:center;align-self:center;white-space:pre;margin-right:20px;}
      table{
        th{padding:0;font-weight:normal;font-size:13px;text-align:center;}
        td{height:35px;text-align:center;}
      }
    }
    &+.btn_wrap{margin:10px 0;justify-content:flex-end;}
  }
  .editor_wrap{width:100%;margin-top:-1px;padding:13px 10px;border:1px solid #ebebeb;
    textarea{height:300px;}
  }
  .sign_wrap{padding:35px 0 15px;font-size:13px;color:#111;font-weight:bold;line-height:30px;
    p{
      &:first-child{text-align:center;}
      &:last-child{text-align:right;}
    }
  }
}
.approval_view .my_approval,
.approval_draft .my_approval{gap:20px;}
.approval_view .approval_set,
.approval_draft .approval_set{margin-top:18px;}

.approval_set{width:400px;min-width:400px;
  & > .box_default_w{margin-top:10px;
    &:last-of-type{margin-bottom:10px;}
    @include tit_bullet(h1);
    h1{font-size:14px;}
  }
  .appr_path{counter-reset:appr_path;
    li{@include flex_between;margin-bottom:4px;padding:6px 7px 7px 25px;border:1px solid #ebebeb;border-radius:2px;counter-increment:appr_path;font-size:11px;
      .user_module{left:-15px;font-size:13px;color:#000;font-weight:500;
        &::before{content:counter(appr_path)".";display:inline-block;width:15px;}
      }
      .appr_btn_set{@include flex_between;
        .myappr_del{margin-right:5px;}
      }
    }
    .btn_switch{gap:3px;padding:0;
      label{min-width:40px;border-width:1px;border-radius:2px;line-height:23px;font-size:12px;padding:0;border-color:#aaa;color:inherit;font-weight:normal;
        &:hover{font-weight:bold;}
      }
      input:checked+label{background-color:#f05050;border-color:#f05050;color:#fff;font-weight:bold;}
    }
  }
  .tab_contents :not(first).appr_path{margin-top:4px;}
  .set_list{@include tit_bullet(dt);display:grid;grid-template:auto / 100px 1fr;align-items:center;row-gap:10px;
    dt{font-size:14px;margin-bottom:0;}
    .rel_doc{align-self:flex-start;line-height:28px;}
    .rel_doc + dd{display:flex;flex-flow:column wrap;gap:5px;
      label{white-space:nowrap;padding-left:15px;font-size:12px;color:#999;margin-left:auto;}
    }
    a:hover{text-decoration:underline;}
  }
  .preview{flex-shrink:0;gap:0;font-size:11px;color:#999;align-items:center;margin-left:10px;line-height:1;
    &::before{@include shape(1px, 10px);background-color:#ddd;margin-right:10px;}
  }
  .attach_list:empty::before{@include empty_box('첨부된 파일이 없습니다.');}
}
.approval_view{
  .appr_result{align-self:flex-end;
    b{@include badge_style(null);padding:1px 5px 0;font-size:11px;}
  }
  .appr_path li{flex-direction:column;align-items:flex-start;
    .review_txt{width:100%;background-color:#ececec;padding:5px;border-radius:3px;margin:8px 0 3px;font-size:13px;
      &:empty{padding:0;}
    }
  }
  .act_lst{padding-left:3px;
    &:empty::before{@include empty_box('진행된 활동이 없습니다');}
    @include tit_bullet('.date-time',3);
    li{border-left:1px solid #ccc;padding:0 0 20px 10px;
      &:last-child{padding-bottom:5px;}
    }
    .date-time{position:relative;left:-10px;top:-7px;font-size:12px;color:$gray;margin-bottom:-5px;
      &::before{left:-2px;}
    }
    .act_name,
    .act_type{font-weight:600;}
  }
  .referrer_act{display:flex;flex-direction:column;gap:5px;
    &:empty::before{@include empty_box('참조자 이력이 없습니다');}
    li{display:flex;justify-content:space-between;}
    .appr_result{font-size:12px;}
    $_signType:('uncheck': #b6b6b6,'check':#56b1b6, 'ing':#b49bdb, 'fin':#9167df);
    @each $type, $color in $_signType{
      .#{$type}{background-color:$color;}
    }
  }
}
.form_wrap.form_view{
  .file_input>*{flex:0;}
  input[type=text],
  input[type=number],
  input[type=date],
  textarea,
  select{border:none;background:#fff;color:#333;}
  input[type=date]{position:static;
    &::after{display:none;}
    &::-webkit-calendar-picker-indicator {display:none;}
  }
  .file_input>[list]{min-width:100%;} // 인쇄 시 프로젝트명 잘림 수정
}
@include desktop{
  .approval_view .my_approval,
  .approval_draft .my_approval{flex-flow:column wrap;
    .approval_set{order:-1;width:100%;display:grid;gap:5px;margin-top:0;
    grid-template-areas:"path etc""path refer""path attach""act act"; 
      & > .box_default_w{margin:0;padding:15px;
        &:nth-of-type(1){grid-area:path;min-width:450px;}
        &:nth-of-type(2){grid-area:refer;}
        &:nth-of-type(3){grid-area:attach;}
        &:nth-of-type(4){grid-area:etc;}
        &:nth-of-type(5){grid-area:act;}
      }
    }
  }
}
.user_module{display:flex;gap:5px;align-items:center;position:relative;
  .user_photo{display:inline-block;width:18px;height:18px;overflow:hidden;border-radius:50%;border:1px solid #ccc;
    img{width:100%;height:auto;vertical-align:top;}
  }
  b{font-size:11px;color:#717889;align-self:flex-end;}
}  

.file_attach{position:relative;display:flex;align-items:center;min-height:70px;border:2px dashed #ebebeb;background-color:#fff;}
.drop_zone,
.attach_zone{padding:0 15px;align-self:flex-start;}
.attach_list{padding-bottom:10px;}
.attach_list li{position:relative;display:flex;gap:5px;margin-top:10px;padding:0;border-top:none;z-index:1000;text-align:left;line-height:17px;
  &::before,
  &::after{display:none;}
}
.file_attach:hover{border-color:#ccc;}
.file_attach .drop_info{position:absolute;left:0;top:50%;transform:translateY(-50%);display:flex;gap:30px;align-items:center; color:#989898;text-align:left;word-break:keep-all;font-size:12px;line-height:15px;letter-spacing:-.3px;padding:0 15px;
  &::before{display:flex;align-items:center;width:101px;height:36px;border:2px solid #d83d48;border-radius:5px;background:url(../images/ic-file.png) 11px 50% no-repeat,#fff;content:"파일선택";color:#f05050;padding:0 14px 0 43px;}
  p{flex-grow:1;}
  span{color:#000;}
}
.attach_thumb{display:block;max-width:20px;max-height:20px;}
.file_attach{overflow:hidden;position:relative;text-align:center;}
.file_attach .btn_file{position:absolute;top:-1px;left:-1px; right:-1px;bottom:-1px;border:none;opacity:0;filter:alpha(opacity=0);cursor:pointer;outline:none;z-index:100;}
.file_del{@include shape(15px,17px);flex-shrink:0;
  &::before{@include fontello('\e928');font-size:13px;color:$red;line-height:17px;} 
}
.stamp_red{@include stamp($red);}
.file_attached{position:relative;
  .attach_list li a{display:flex;gap:7px;
    &:hover{text-decoration:underline;}
  }
  i{flex-shrink:0;position:relative;top:1px;}  
}
.tbl_approval_outbox td,
.tbl_approval_inbox td{@include alignL(4);}
.file_upload{display:none;position:fixed;top:0;width:100vw;height:100vh;z-index:9999;background:rgba(0, 0, 0, 0.466);
  &>*{position:absolute;}
  &>p{top:50%;left:50%;transform:translateX(-50%);font-size:20px;font-weight:bold;color:#fff;text-align:center;}
  &>i{top:39%;left:47.5%;color:#fff;font-size:65px;}
}

// plan
 // tree common
.ipt_wrap{border:none;
  dl{display:flex;flex-wrap:wrap;gap:10px;align-items:center;}
  dt{@include form_label;display:flex;gap:5px;width:100%;margin-top:15px;}
  dt:first-of-type{margin-top:0;}
  dd{
    &:first-of-type:has(.ipt_innerwrap) .ipt_innerwrap{margin:0 0 15px;}
    &:has(.ipt_innerwrap){flex:1 0 100%;}
  }
  .flex_full{flex:1;}
  //dd:first-of-type::before{display:none;}
  .divideL{position:relative;padding-left:20px;
    li{line-height:28px;}
    &::before{position:absolute;left:0;top:0;content:"/";font-size:20px;}
  }
  .opt_wrap{display:none;width:100%;
    .opt_lst{display:grid;grid-template-columns:80px 1fr;align-items:stretch; padding:15px 20px 0;border-top:1px solid #c5c5c5;
    }
    dt,p{margin-top:0;line-height:28px;}
  }
  .ipt_info{@include explanation;}
  
  .ipt_innerwrap{display:flex;gap:$columnGap;justify-content:space-between;flex-wrap:wrap;margin-top:15px;
    li{flex:1 0 calc(50% - $columnGap);
      em{@include form_label;display:flex;gap:5px;width:100%;margin-bottom:10px;}
    }   
    
  }
}
.flex_ipt{display:flex;gap:4px;align-items:center;word-break:keep-all;
  input,select{flex:0 1 60px;}
}
.plan_new{
  .new_contents{display:flex;gap:$columnGap;flex-wrap:wrap;}
  .ipt_wrap{flex:1 500px;}
  .ipt_set{max-width:630px;}
  .box_compact h1{display:flex;gap:5px;}
  .file_input:has(input[type=checkbox]){gap:10px;}
  label:has(input[type=checkbox]){display:inline-block;margin-top:2px;}
  .period_custom +.check_group{display:inline-flex;margin-left:10px;}
}
.tbl_plan_preview{display:flex;width:100%;}
$tbl_plan_bordercolor:#e0e0e0;
$member_width:100px;
%inline_flex{display:inline-flex;width:100%;height:100%;}
%flex100{display:flex;width:100%;height:100%;}
%box_center{-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;}
%member{display:inline-flex;width:$member_width;height:25px;line-height:18px;-webkit-box-align:center;align-items:center;border-bottom:1px solid $tbl_plan_bordercolor;
  &>div{display:inline-flex;width:100%;padding:0 8px 0 18px;-webkit-box-align:center;align-items:center;}
}
.member_lst{display:flex;width:$member_width;flex-direction:column;
  .label_row{@extend %member;height:24px;
    &:first-of-type{border-top:1px solid $tbl_plan_bordercolor;}
    .label{font-weight:bold;}
  }
  .member_row{@extend %member;}
}
.day_body,
.time_body{position:relative;width:100%;height:72px;}
.column_wrap{@extend %flex100;flex-direction:column;}
 .daylabel,
 .timelabel{@extend %inline_flex;height:24px;border:1px solid $tbl_plan_bordercolor;border-width:1px 0;-webkit-box-pack:justify;justify-content:space-between;
  div{@extend %inline_flex;font-size:12px;line-height:22px;@extend %box_center;border-left:1px solid $tbl_plan_bordercolor;}
  .sat{color:$blue;background-color:rgba(215, 229, 255, .3);}
  .holyday{color:$red;background-color:rgba(255, 212, 212, 0.3);}
}

%plan_item{display:block;position:absolute;top:-1px;bottom:-1px;border:1px solid #e0e0e0;height:auto;line-height:initial;}
%select{background-color:rgba(87, 146, 255, 0.3);border-color:#5792FF;}//선택한 시간
%absence{background-color:rgba(224, 224, 224, 0.45);border-color:#e0e0e0;}//부재
%busy{background-color:rgba(255, 0, 0, 0.1);border-color:rgb(255, 0, 0);}//일정있음
%etc{background-color:rgba(87, 146, 255, 0.3);border-color:#5792FF;}
.dayline,
.timeline{position:relative;@extend %flex100;flex-direction:column;  
  .col_wrap{position:absolute;@extend %flex100;top:0;left:0;-webkit-box-pack:justify; justify-content:space-between;}
  .row_wrap{position:relative;@extend %flex100;border-bottom:1px solid $tbl_plan_bordercolor;z-index:1;
      div{display:inline-block;width:100%;text-align:center;height:24px;line-height:18px;border-left:1px solid $tbl_plan_bordercolor;}
      .absence{@extend %plan_item;@extend %absence;}
      .busy{@extend %plan_item;@extend %busy;}
    }
  .day_wrap,
  .hour_wrap{position:relative;@extend %inline_flex;@extend %box_center;
    div{position:absolute;width:1px;left:50%;top:0;bottom:0;border-left:1px dashed $tbl_plan_bordercolor;}
  }
}
.hover{left:84.6154%;border:1px dashed rgb(18, 93, 230);}
.mark_wrap{position:absolute;display:flex;top:24px;left:0px;width:100%;height:50px;flex-direction:column; 
  .marks{position:relative;@extend %flex100;border-bottom:0 solid $tbl_plan_bordercolor;z-index:1;
    &>div{position:absolute;width:calc(15.3846% + 1px);top:-1px;bottom:0px;z-index:2;border-width:1px;border-style:solid;}
    .select{@extend %select;}//선택
  }
}
$_planTypes:(
  'select':'%select',
  'busy':'%busy',
  'absence':'%absence'
);
.plan_legend{float:right;margin-left:auto;
  ul{display:flex;gap:10px;}
  li{font-weight:normal;
    &::before{@include shape(14px,14px);margin-right:5px;vertical-align:text-bottom;}
    @each $type, $extend in $_planTypes{
      &.#{$type}::before{@extend #{$extend};border-width:1px;border-style:solid;}
    }
  }
}

//project
%proj_tag{width:35px;line-height:13px;@include badge_style(35px);font-size:10px;letter-spacing:-.25px;font-weight:700;}
%type{background-color:#f8c9ce;color:#404654;}
.proj_lst{text-align:left;
  & > li{padding:10px calc($columnGap - 10px);border-bottom:1px solid #ebebeb;line-height:16px;
    &:hover{background-color:#f9fafc;}
    &.on{background-color:#fef4f5;}
  }
  .tag_wrap{display:flex;justify-content:flex-end;gap:2px;margin-bottom:5px;
   .type{@extend %type;position:relative;left:-3px;margin-right:auto;}
   i{@extend %proj_tag;}    
  }
}
@mixin proj_box($hover){background-color:$white;padding:5px 15px;border-radius:5px;box-shadow:0 1px 8px rgba(0, 0, 0, .07);
  a{display:flex;flex-direction:column;height:100%;gap:5px;}
  @if($hover){
    &:hover{ box-shadow:0 1px 8px rgba(0, 0, 0, .3);}
  }
}
%proj_txt{color:#b2bacd;font-weight:700;font-weight:700;font-size:11px;}
.proj_name{font-weight:700;word-break:keep-all;letter-spacing:-.33px;line-height:15px;}
.proj_desc{margin-top:10px;color:#71798a;font-size:12px;letter-spacing:-.11px}
.past_proj{
  .past_lst{display:flex;gap:5px;
    li{flex:0 1 170px;@include proj_box(true);
      i{@extend %proj_tag;@extend %type;}
      .proj_name{color:#717889;font-size:12px;}
    }    
    .past{margin-top:auto;@extend %proj_txt;}
  }
}
.proj_home{display:flex;flex-direction:column;gap:20px;height:calc(100% - 43px);}
.my_proj{flex-grow:1;display:flex;flex-direction:column;}
.my_proj_lst{flex-grow:1;border-bottom:1px solid #9a9b9c;padding-bottom:13px;
  ul{display:flex;gap:12px;flex-wrap:wrap;}
  li{flex:0 1 200px;@include proj_box(true);
    a{min-height:150px;}
    i{@extend %proj_tag;font-size:12px;max-width:none;width:42px;line-height:18px;}
    .progress{margin-top:auto;@extend %proj_txt;
      progress{width:100%;}
      em{color:$red;}
      .flex_wrap{display:flex;
        .check_progress{margin-left:auto;}
      }
    }
  }
}
.proj_summary{margin-top:auto;padding-top:13px;border-top:1px solid $white;
  .proj_box{@include proj_box(false);padding:15px 16px 12px;}  
}
$_proj_stacked:(
  'chart_fin':#56b1b6, 'chart_delay':#ff7575, 'chart_todo':#ffc938, 'chart_termless':#a9b4be
);
.stacked_bar{display:flex;height:12px;border-radius:3px;overflow:hidden;
  li{@include f_blind;
    &:last-child{flex-grow:1;}
    @each $type, $color in $_proj_stacked{
      &.#{$type}{background-color:$color;}
    }
  }
}
.chart_legend{display:flex;gap:18px;
  li{font-weight:bold;font-size:11px;letter-spacing:-.55px;
    span{margin-left:3px;color:#b2bacd;}
    &::before{@include shape(11px,11px);position:relative;top:2px;margin-right:3px;border-radius:2px;}
    @each $type, $color in $_proj_stacked{
      &.#{$type}{color:$color;}
      &.#{$type}::before{background-color:$color;}
    }
  }
}
.project_new{
  .new_contents{display: flex;justify-content: space-between;gap:$columnGap;
    .ipt_wrap{flex:1;}
  }
  
}

// work
.tbl_work_share{
  td:nth-of-type(2){text-align: left;}
}

//svc
.cal_wrap{@include flex_between;gap:$columnGap;align-items:flex-start;flex-wrap:wrap;
  .remote_room{flex-shrink:0;width:90px;padding-top:55px;}
  .calendar_container{flex:1 0 762px;}
  .plan_new{flex:1 0 480px;display:none;}
}
.add_plan_new{
  @include desktop{
    #calendar{max-height:40vh;}
  }
}
.lst_room li{margin-top:15px;
  label::after{@include shape(12px, 12px);background-color:#05b4d9;margin-left:5px;vertical-align:middle;margin-top:-1px;}
}