@import "./mixin";
// ========================================
// CSS Reset & Base Styles
// ========================================

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  font-family: 'NanumGothic';
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

img {
  display: inline-block;
  
  &.image_resized {
    height: auto;
  }
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  @include blind;
}

ul,
ol,
li {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
}

strong {
  font-weight: bold;
}

[contenteditable] {
  cursor: text;
  white-space: pre-wrap;
}

// ========================================
// Accessibility
// ========================================

#accessibility {
  position: absolute;
  width: 100%;
  z-index: 999;
  
  a {
    display: block;
    width: 1px;
    height: 0;
    margin-bottom: -1px;
    overflow: hidden;
    text-align: center;
    color: #fff;
    
    &:focus,
    &:active {
      width: 100%;
      height: auto;
      padding: 5px 0;
      background: #09f;
    }
  }
}
// scroll
*{
  // scrollbar-width:thin;
  &::-webkit-scrollbar {width:8px;height:8px;}
  &::-webkit-scrollbar-thumb {background-color:#cdcdcd;}
  &::-webkit-scrollbar-track {background-color:#f0f0f0;box-shadow:inset 0px 0px 5px white;}
}

/* validity */
[required]::before,
.required::before{content:"* ";color:$red;font-size:13px;font-weight:600;}
.validity{font-size:12px;color:#7a7a7a;letter-spacing:-0.3px;line-height:17px;}
.placehold{position:absolute;left:15px;top:39px;color:$gray;visibility:hidden;}

sup{font-size:0.8462em;letter-spacing:-.1em;}