<!-- 바로가기 메뉴 -->
<div id="accessibility">
  <a href="#contents">본문 바로가기</a>
  <a href="#nav">주메뉴 바로가기</a>
</div>
<hr />
<!--// 바로가기 메뉴 -->
<header class="header">
  <h1>
    <a href="#">
      <span class="logo">KITVALLEY</span>
      업무관리시스템
    </a>
  </h1>    
  <section class="gnb">
    <ul class="gnb_lst">
      <li><a onclick="document.getElementById('p_org_chart').showModal();" title="조직도">조직도</a></li>
      <li><a onclick="document.getElementById('p_seating_chart').showModal();" title="자리배치도">자리배치도</a></li>
      <li><a href="#" title="통합알림" id="my_alert">통합알림</a><i class="new_bedge">8</i></li>
      <li><a href="http://boss2.kitvalley.com:8002/" target="_blank" title="관리자시스템">관리자시스템</a></li>
    </ul>
    <div class="util">
    <div class="profile">
        <button type="button" class="account">
          <img src="../../images/ic_user.png" width="32px" height="32px" alt="프로필사진">
          <strong>
            <b>관리자님</b>
            <span>기상/기후개발팀</span>
          </strong>
        </button>
        <div class="my_layer">
          <ul class="my_svc">
            <li><a href="../home/user_info.html">내정보</a></li>
            <li><a href="#">웹메일</a></li>
            <li><a href="http://192.168.5.10/" target="_blank">웹클라우드</a></li>
            <li><a href="#">로그아웃</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</header>