<nav id="nav" class="nav">
  <h1 class="blind">메뉴</h1>
  <ul class="nav_lst">
    <li class="on"><a href="../../html/home/main.html">HOME</a></li>
    <li><a href="../../html/message/message.html">사내쪽지</a></li>
    <li><a href="../../html/approval/approval.html">전자결재</a></li>
    <li><a href="../../html/work/work.html">업무</a></li>
    <li><a href="../../html/planner/plan.html">일정</a></li>
    <li><a href="../../html/project/projectList.html">프로젝트</a></li>
    <li><a href="../../html/svc/svc.html">임직원 업무</a></li>
    <li><a href="../../html/erp/erp.html">ERP</a></li>
    <li><a href="../../html/board/board.html">게시판</a></li>
    <li><a href="../../html/home/pop.html">팝업샘플</a></li>
    <!-- <li><a href="http://boss2.kitvalley.com/" target="_blank" title="새창열림">관리자</a></li> -->
  </ul>
</nav>