<script src="../../plugins/jquery.min.js"></script>
<script src="../../plugins/jquery-ui.min.js"></script>
<script src="../../plugins/jquery.MultiFile.js"></script>
<script src="../../plugins/ckeditor/build/ckeditor.js"></script>
<script src="../../plugins/tui-image-editor/fabric.min.js"></script>
<script src="../../plugins/tui-image-editor/tui-code-snippet.min.js"></script>
<script src="../../plugins/tui-image-editor/tui-color-picker.min.js"></script>
<script src="../../plugins/tui-image-editor/FileSaver.min.js"></script>
<script src="../../plugins/tui-image-editor/tui-image-editor.min.js"></script>
<script src="../../js/ui_cmmn.js"></script>
<script src="../../js/file_upload.js"></script>
<script src="../../js/message.js"></script>
<script src="../../plugins/tributejs/dist/tribute.min.js"></script>
<script>
//퍼블용
commonInit();
</script>
@@include('../pop/p_org_chart.html')
@@include('../pop/p_seating_chart.html')
<script>
//샘플용, 개발시 삭제
$(function(){
  $('.issue_dtl').hide();
  $('.task_lst').on('click','li',function(){
    $('.issue_default').hide();
    $('.task_lst li').removeClass('on');
    $(this).addClass('on');
    $('.issue_dtl').show();
  })
  const rfpboard_init = () =>{
    $('.con_rfp_board summary').removeClass('on');
    $('.con_rfp_board details li').removeClass('on');
  }
  $('.con_rfp_board summary').on('click','a',function(){
    $('.task_dtl').hide();
    $('.rfp_dtl').show();
    rfpboard_init();
    $(this).parents('summary').addClass('on');
  })
  $('.con_rfp_board details li').on('click',function(){
    $('.task_dtl').show();
    $('.rfp_dtl').hide();
    rfpboard_init();
    $(this).addClass('on');
  })
})
</script>