@use '../base/variables' as v;
@use '../base/mixin' as m;
//notice
.notice_board{@include m.flex_layout();
  &>section{flex:1 0 auto;}
  .new_bedge{padding:0 3px;font-size:10px;}
  .tit{@include m.flex_between;height:40px;padding:5px 10px 5px 15px;border:1px solid #ddd;border-bottom-width:0;border-radius:5px 5px 0 0;background-color:#edf0f3;font-size:13px;font-weight:bold;}
  .board_lst{padding:15px;border:1px solid #ddd;border-radius:0 0 5px 5px;overflow-y:auto;
    .tbl_default td{text-align:left;
      &:last-child{width:100px;}
    }
    &>li{
      &:has(h3){padding:20px 15px;border:1px solid #ddd;border-width:0 0 1px;}
      &:has(details){
        &:not(:has(h3)){padding:0 0 10px;}
      }
      &:last-child{padding-bottom:0;border-bottom-width:0;}
    }
  }
  .family_event{min-height:206px;}
  .notice{height:calc(100vh - 224px);min-height:405px;}
  .right{@include m.flex_layout();flex-direction:column;justify-content:flex-start;
    // .family_event{flex:1 100px;}
    .tbl_photo{height:calc(100vh - 494px);min-height:133px;}
  }
}
.post_wrap{@include m.flex_layout();padding-bottom:25px;
  .post{flex:1;
    .tit{
      h1{font-size:18px;font-weight:bold;color:#000;
        i{vertical-align:middle;}
        &::before{display:none;}
      }
      .date{align-self:flex-end;margin-left:auto;font-size:12px;}
    }
    .writer{display:flex;gap:5px;margin:20px 0;border-bottom:1px solid #ccc;padding:0 5px 10px;}
  }
  .post_etc{flex-shrink:0;display:flex;gap:10px;flex-direction:column;width:400px;}
  .file_attached .attach_list:empty::before{@include m.empty_box('첨부된 파일이 없습니다');}
  .set_list{@include m.set_list(1);margin-bottom:20px;}
  .editor_wrap .ck-content{height:calc(100vh - 406px);min-height:223px;}
  .post_view{padding:5px;
    .ck{border-width:0;}
  }
}
@include m.desktop('.responsive_disabled'){
  .post_wrap{width:100%;flex-flow:column wrap;
    .editor_wrap .ck-content{height:223px;}
    .post_etc{order:-1;width:100%;flex-direction:row;
      section{flex:1;}
      .file_attach{height:calc(100% - 36px);}
    }
  }   
}
.album_lst{
  .check_circle{display:none;align-items:center;justify-content:center; position:absolute;left:5px;top:5px;width:30px;height:30px;z-index:15;border-radius:50%;border-width:0;transition:all .2s;cursor:pointer;}
  li{border:3px solid transparent;cursor:pointer;
    a{position:relative;width:100%;height:100%;display:flex;align-items:center;justify-content:center;}
    &:has(.check_circle:checked){border-color:v.$red;}
    &:hover{box-shadow:0 0 30px rgba(0, 0, 0, .3) inset;
      .check_circle{display:flex;}
      a::after{position:absolute;left:0;top:0;@include m.shape(100%,100%);background-color:#00000050;z-index:1;}
    } 
  }
  &.select_mode li{
    .check_circle{display:flex;}
  }  
}
.vote_wrap{
  span:has(input[type="number"]){margin-bottom:5px;
    &+div{
      &>.file_input{margin-bottom:3px;}
    }
  }
  input[type="number"]{flex:0 1 60px;text-align:left;}
  input[type="checkbox"]{flex:inherit;}
}
.tbl_notice{
  td{@include m.alignL(2);}
}
.tbl_wrap_photo{
  .tbl_wrap{height:calc(100vh - 365px);min-height:264px;margin-top:v.$columnGap;padding:10px 10px v.$columnGap;}
  td{@include m.alignL(1);}
}