@use '../base/variables' as vars;
@use '../base/mixin' as mixins;
//project
%proj_tag{width:35px;line-height:13px;@include mixins.badge_style(45px,45px);font-size:10px;letter-spacing:-.25px;font-weight:700;}
%type{background-color:#f8c9ce;color:#404654;}
.ico_proj{ 
  $_projColor:('ready':#f0a44f,'ing':#00b5da,'done':#19b200,'hold':#bfc8d2,'check':vars.$red,'apply':vars.$red);
  $_projType:('ready':'\eb74','ing':'\e903', 'done':'\eb6c', 'hold':'\ebe9', 'check':'\eb6c', 'apply':'\e877');
  @each $type, $txt in $_projType{
    .#{$type}::before{@include mixins.fontello($txt);color:map-get($_projColor, $type);}
  }
  i{background:transparent;font-size:11px;vertical-align:middle;
    &::before{margin-right:4px;font-size:12px;margin-top:-3px;vertical-align:middle;}
  }
  .apply::before{font-size:14px;}
}
.proj_legend{display:flex;gap:10px;font-size:11px;align-self:flex-end;
  ul{@include mixins.flex_between;gap:10px;line-height:1;}
  i{color:#000;}
  .divide{@include mixins.divide();&::before{margin-left:5px;}}
}
.proj_lst{overflow-y:auto;max-height:calc(100vh - 380px);min-height:247px;text-align:left;
  &.all_proj{max-height:calc(100vh - 323px);min-height:307px;}
  & > li{padding:10px calc(vars.$columnGap - 10px);border-bottom:1px solid #ebebeb;line-height:16px;background-color:#fff;
    &:hover{background-color:#f9fafc;}
    &.on{background-color:#fef4f5;}
  }
  .tag_wrap{display:flex;justify-content:flex-end;gap:5px;margin-bottom:5px;
   .type{@extend %type;position:relative;left:-3px;margin-right:auto;}
   i{@extend %proj_tag;}
  }
}
@mixin proj_box($hover){background-color:vars.$white;padding:5px 15px;border-radius:5px;box-shadow:0 1px 8px rgba(0, 0, 0, .07);
  a{display:flex;flex-direction:column;height:100%;gap:5px;}
  @if($hover){
    &:hover{ box-shadow:0 1px 8px rgba(0, 0, 0, .3);}
  }
}
%proj_txt{color:#b2bacd;font-weight:700;font-weight:700;font-size:11px;}
.proj_name{font-weight:700;word-break:keep-all;letter-spacing:-.33px;line-height:15px;}
.proj_desc{margin-top:10px;color:#71798a;font-size:12px;letter-spacing:-.11px}
.task_desc{@extend .proj_desc;display:flex;flex-direction:column;line-height:1.2;gap:5px;
  li:nth-child(2){@include mixins.text_ellipsis(2);}
}
.proj_home{@include mixins.flex_layout;
  header{display:flex;align-items:center;gap:5px;
    h1{@include mixins.tit;font-size:22px;}
    .count{@include mixins.tit;gap:0;letter-spacing:-.5px;
      em{color:#888;}
    }
  }  
}
$taskColorMap:('ing':vars.$task_ing,'plan':vars.$task_plan,'done':vars.$task_done,'cancel':vars.$task_cancel,'hold':vars.$task_hold);
@mixin taskColor($tagType:false){
  @each $type, $val in $taskColorMap{
    &#{$type}{color:darken($color:$val, $amount:15);
      @if($tagType){
        border:1px solid darken($color:$val, $amount:15);
        background-color:$val;
        // @if(lightness($val) < 60){background-color:lighten($color:$val, $amount:36);}
      }
    }
  }
}
.tags{display:flex;gap:3px;flex-wrap:wrap;
  i{@include mixins.badge_style(){background-color:#aab3c8;padding:0 5px;font-size:11px;line-height:13px;}}
}
.task_lst{$fc:#404654;
  display:flex;gap:12px;flex-wrap:wrap;gap:8px;color:$fc;  
  dt{flex:1 100%;display:flex;gap:5px;align-items:center;font-size:14px;color:#000;font-weight:bold;margin-top:15px;
    &:first-of-type{margin-top:0;}
    i{@extend %proj_tag;font-size:12px;max-width:none;width:60px;line-height:18px;}  
  }
  dd{flex:1 auto;max-width:calc((100% - 32px) / 3);
    .etc{display:flex;align-items:center;@extend .ico_proj;margin-top:auto;line-height:1;font-size:12px;
      i{font-size:0;}
      i::before{margin-top:0;}
      .user_module{margin-left:auto;}
    }
    &.delay{background-color:#fef4f5;box-shadow:0 1px 3px rgba(255,0,0,.2);}
    @include mixins.desktop(){max-width:calc((100% - 10px) / 2);};
  }
  dd,
  & > li{@include proj_box(true);display:flex;flex-direction:column;gap:5px;width:100%;min-height:110px;padding:10px 15px;cursor:pointer;
    .task_name{@include mixins.text_ellipsis(2);line-height:1.3;} 
  }
  .tit{display:flex;gap:10px;
    input,i{flex-shrink:0;}
  }
  li .tit:has(.cmt_num){
    .cmt_num{margin-left:0;line-height:1.3;align-self:flex-end;margin:0 5px 0 -5px;}
  }
  .date{font-size:12px;color:#999;}
  .task_{@include taskColor(true);}
}
.pic{display:flex;gap:2px;margin-bottom:-4px;
  li{width:22px;height:22px;border:1px solid #aaa;border-radius:50%;}
}
.pic_lst{display:flex;align-items: center;
  & > li{position:relative;border:1px solid #fff;width:22px;height:22px;border-radius:50%;overflow:hidden;background:url(../images/ic_user.png) 0 0/contain no-repeat;
    @for $i from 1 to 3{
      &:nth-child(#{$i}){
        left:15px - ($i * 5);
      }
    }
    &:only-of-type{left:0;}
    &.receiver_dtl{
      &>button{position:absolute;width:100%;line-height:20px;z-index:1;background:#d3d3d3;font-size:10px;text-align:center;font-weight:bold;border-radius:50%;}
      li{width:auto;height:auto;border:none;border-radius:0%;}
    }
  }
  img{object-fit:cover;min-height:100%;}
}
.my_task{@include mixins.flex_layout;align-items:stretch;height:100%;flex:1;
  .box_default{height:calc(100vh - 243px);min-height:386px;overflow-y:auto;}
}
.week_task{flex-grow:1;
  .lst_header{margin-bottom:5px;}
  .btn_toggle_single{margin-left:auto;}
  // .proj_legend{justify-content:flex-end;}
}
.my_issue{@include mixins.box_style(0,1px);flex:0 0 300px;
  .task_lst_wrap{height:calc(100vh - 185px);min-height:443px;overflow-y:auto;
    .etc{display:flex;align-items:flex-end;margin-top:auto;}
    .pic_lst{flex-shrink:0;margin-left:auto;}
  }
  .task_lst{position:relative;gap:0;flex-direction:column;flex-wrap:nowrap;
    &[data-proj]::before{display:block;position:sticky;top:0;left:0;content:'- 'attr(data-proj)' -';font-size:12px;line-height:1;z-index:10;text-align:center;padding:5px 0;background-color:#edf0f3;opacity:.9;word-break:keep-all;line-height:1.2;}
    &>li{min-height:auto;border:1px solid #ebebeb;box-shadow:none;gap:0;
      @include mixins.on-hover;
    }
    .tit i{@extend %proj_tag;margin-left:auto;align-self:flex-start;font-weight:normal;font-size:11px;}
    &:not(:has(li))::after{display:flex;align-items:center;justify-content:center;height:100%;content:"등록된 이슈톡이 없습니다.";background-color:#bfc8d2;font-size:14px;font-weight:700;color:#555;}   
  }
}
.project_new{
  .new_contents{@include mixins.flex_layout;
    .ipt_wrap{flex:1;border:none;
      .box_default_w{height:100%;overflow-y:auto;height:calc(100vh - 286px);min-height:403px;}
      dl{gap:5px;align-items:flex-start;}
      dd{margin-bottom:5px;}
      legend{display:flex;width:100%;align-items:center;
        .info{margin-left:auto;font-size:12px;align-self:flex-end;color:vars.$tomato;}
      }
    }
    .ipt_innerwrap{margin-top:5px;}
  }
  .tooltip{left:0;right:auto;}
}
.proj_view{padding-bottom:0; 
  .tab_contents{
    .right_section > div{display:flex;flex-direction:column;gap:10px;}
  }
  .contributor{
    h1{margin-bottom:0;}
    .contributor_add{display:none;}
  }
  .rel_proj{
    h1{margin-bottom:0;}
    .rel_item{padding-left:15px;
      &:hover em{color:vars.$blue;text-decoration:underline;}
      .type{@include mixins.badge_style($w:60px);@extend %type;color:inherit;flex-shrink:0;}
      em{display:block;margin-top:3px;}    
    }
  }
  .ls_contributor{@include mixins.user_lst;margin-top:15px;
    .myappr_del{display:none;}
    li{min-height:24px;gap:5px;
      &:hover .myappr_del{display:block;}
    }
  }
  article{
    header{
      span{font-weight:bold;color:#888;letter-spacing:-.33px;}
      .btn_wrap{margin-left:auto;flex-shrink:0;}
      @include mixins.tit_bullet(h1, $wrap:true){&::before{background-color:#000;}
      };
    }
  }
  .article_body{
    header h1{font-size:14px;&::before{top:-2px}}
  }
  .proj_summary{display:flex;margin-top:10px;gap:5%;
    li{font-weight:bold;}
    em{color:#888;margin-right:5px;&::before{content:"·";margin:0 5px;}}
  }
  // 이슈톡
  .task_body{@include mixins.flex_layout{margin-top:vars.$columnGap;};background-color:#edf0f3;
    .left_section{flex:0 0 350px;background-color:#fff;
      .task_lst_wrap{height:100%;
        .search_list select{border-width:0;}
        .etc{display:flex;align-items:flex-end;margin-top:auto;}
        .pic_lst{flex-shrink:0;margin-left:auto;}
      }
      .search_list{align-items:center;border-bottom:1px solid #ebebeb;margin-right:0;padding:0 5px;gap:10px;
        li:last-child{margin-left:auto;}
      }
      .task_lst{gap:0;flex-direction:column;flex-wrap:nowrap;border-top:1px solid #ebebeb;border-right:1px solid #ebebeb;@include mixins.proj_view_defaultH(74px);
        &>li{min-height:auto;border-bottom:1px solid #ebebeb;box-shadow:none;border-radius:0;gap:0;
          @include mixins.on-hover;
        }
        .tit i{@extend %proj_tag;margin-left:auto;align-self:flex-start;font-weight:normal;font-size:11px;}
        .etc{margin-top:5px;}
        &:not(:has(li))::after{display:flex;align-items:center;justify-content:center;height:100%;content:"등록된 이슈톡이 없습니다.";background-color:#bfc8d2;font-size:14px;font-weight:700;color:#555;}
        .tit{align-items:flex-start;
          input[type="checkbox"]{position:relative;top:2px;margin-left:-20px;}
        }
      }
    }
    &:has(.on){background-color:#fff;}
    .right_section{flex:1;@include mixins.proj_view_defaultH(74px);@include mixins.scrollbarW();padding-top:10px;padding-bottom:vars.$columnGap;}
  }  
  .issue_dtl{
    header{gap:vars.$columnGap;justify-content:flex-start;
      .btn_wrap{margin-left:auto;align-self:flex-start;}
    }
    .stat{margin-bottom:15px;border-bottom:1px solid #ccc;padding-bottom:5px;
      .btn_toggle_single{padding-left:5px;}
      i{@extend %proj_tag;padding:2px 5px;font-size:12px;margin-left:5px;
        @each $type, $color in vars.$taskType{
          &.task_#{$type}{background-color:$color;}
        }
      }
      .date{flex-shrink:0;font-size:12px;font-weight:normal;margin-left:15px;}
    }
    .task_num{margin-left:10px;}
    .ipt_lst{padding-left:10px;}
    .issue_txt{margin-top:15px;border-top:1px solid #ccc;padding:15px;
      & + .box_bot{border-top:1px solid #ccc;padding-top:5px;}
      .ck-content{border-width:0;}
    }
    .task_status_multi{position:relative;
      .all_label{width:100px;height:28px;padding-left:5px;cursor:pointer;background:url(../images/btn_select.png) right 8px center no-repeat,rgba(255,255,255,.9);border:1px solid #ccc;border-radius:2px;text-align:left;}
      .taskstatus_layer{display:none;position:absolute;left:0;top:100%;width:400px;border:1px solid #000;background-color:#fff;padding:10px;z-index:10;
        .tit{@include mixins.flex_between;border-bottom:1px solid #000;padding-bottom:10px;margin-bottom:10px;
          em{font-size:16px;font-weight:bold;}
        }
        .user_lst{display:grid;grid-template-columns:1fr 100px;column-gap:0;row-gap:10px;}
        &.on,
        &:focus-within{display:block;}
      }  
    }
  }
  .issue_write{@include mixins.flex_layout();
    .issue_cont{@include mixins.form_style();min-width:auto;
      .ck-content{min-height:465px;}
    }
    .issue_set{@include mixins.set_style();min-width:337px;}
  }
  // 개요  
  .overview{@include mixins.flex_layout;
    .left_section{display:flex;flex-direction:column;gap:calc(vars.$columnGap * 2);flex:1;@include mixins.proj_view_defaultH();padding-bottom:vars.$columnGap;
      h2{@include mixins.tit;font-size:14px;
       i{@include mixins.badge_style(null,60px){margin-right:10px;};
          &.type{@extend %type;}
       }
      }
      article{padding:0 vars.$columnGap 0 10px;}
      .proj_desc{padding-left:0;margin-top:0;
        h2{border-bottom:1px solid #dedede;padding-bottom:10px;margin-bottom:10px;}
        .ipt_lst{column-gap:10px;row-gap:5px;grid-template-columns:repeat(2, 70px 1fr);}
      }
      .progress_wrap{display:flex;align-items:center;gap:8px;
        progress{flex:1 1 auto;}
        label{flex:0 0 42px;color:vars.$red;font-weight:bold;font-size:11px;text-align:left;}
      }
      $_proj_stacked:('chart_done':#56b1b6, 'chart_delay':#ff7575, 'chart_ing':#ffc938, 'chart_plan':#b179ea,'chart_hold':#a9b4be);
      .stacked_bar{display:flex;height:12px;border-radius:3px;overflow:hidden;
        li{@include mixins.f_blind;
          &:last-child{flex-grow:1;}
          @each $type, $color in $_proj_stacked{
            &.#{$type}{background-color:$color;}
          }
        }
      }  
      .chart_label{display:flex;gap:18px;justify-content:flex-end;margin-top:14px;
        li{font-weight:bold;font-size:11px;letter-spacing:-.55px;padding-left:14px;text-indent:-14px;
          span{margin-left:3px;color:#b2bacd;font-weight:normal;}
          &::before{@include mixins.shape(11px,11px);position:relative;top:2px;margin-right:3px;border-radius:2px;}
          @each $type, $color in $_proj_stacked{
            &.#{$type}{color:$color;}
            &.#{$type}::before{background-color:$color;}
          }
        }
      }
      .tbl_wrap{height:auto;min-height:auto;}
      .tbl_workboard{width:100%;text-align:center;
        th,td{padding:10px;}
        th{border-bottom:1px solid #c0c0c0;font-weight:bold;}
        td{border-bottom:1px solid #ebebeb;height:45px;
          &:first-child{text-align:left;}
        }
        @each $type, $color in $_proj_stacked{
          $i :index($_proj_stacked, $type $color) + 2;
          th:nth-child(#{$i}),
          td:nth-child(#{$i}){width:8%;color:$color;font-weight:bold;text-align:center;white-space:nowrap;}
        }
        .user_module{display:inline-flex;vertical-align:middle;margin-right:4px;
          b{align-self:center;}
        }
        .user_photo{width:24px;height:24px;}      
      }
      details{border-bottom:1px solid #ebebeb;
        summary::-webkit-details-marker,
        summary::marker{display:none;content:'';}
        summary::before{font-family:'fontello';content:'\f107';font-size:14px;color:vars.$red;} // 1depth
        &[open]>summary{min-height:43px;border-bottom:1px solid #ebebeb;}
        &[open]>summary::before{margin:0 2px;content:'\f105';color:#000;}
      }
      @include mixins.desktop{
        td{padding:5px;}
        progress{inline-size:5em;}
      }
      @include mixins.tablet{
        .user_module b{display:none;}
        .tbl_workboard .tag_pm{top:0;}
        progress{inline-size:3em;}
      }
    }
    .ipt_lst{padding-left:13px;
      dt{color:#888;}
    }
    .attach_list{padding-bottom:0;
      &:empty::before{content:'-';}
      li:first-child{margin-top:0;}
    }
    .right_section{flex:0 0 350px;display:flex;flex-direction:column;gap:10px;@include mixins.proj_view_defaultH();@include mixins.scrollbarW();padding-bottom:vars.$columnGap;}
    .set_list + button{margin-top:15px;}
    .ipt_wrap dl{gap:15px;
      .ipt_innerwrap{margin-top:0px;gap:15px;}
    }
  }  
  // 요구사항
  .rfp{
    span.score{margin-left:3px;color:#e77b79;
      b{font-weight:bold;color:vars.$red;}
    }    
    .con_rfp_board{@include mixins.proj_view_defaultH(85px);position:relative;
      &.loading::before,
      &:not(:has(li))::before{display:flex;align-items:center;justify-content:center;height:100%;content:"등록된 요구사항이 없습니다.";background-color:#bfc8d2;font-size:14px;font-weight:700;color:#555;}
      &.loading::before{content:'';}
      &.loading::after{@include mixins.fontello('\ece6');position:absolute;left:50%;top:50%;font-size:20px;transform:translate(-50%, -50%);@include mixins.animate-spin;}
      a{display:flex;gap:8px;word-break:keep-all;}
      summary{@include mixins.flex_between;min-height:42px;padding:0 10px;border-bottom:1px solid #ebebeb;
        &::-webkit-details-marker { display:none; }
        a{max-width:calc(100% -  21px);
          h4{font-size:14px;font-weight:bold;color:#000;letter-spacing:-0.35px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
          span{flex-shrink:0;color:#898989;letter-spacing:-1.05px;font-size:14px;}
          &:hover h4{text-decoration:underline;}
        }
        .score{float:right;color:#e77b79;font-size:12px;
          b{font-weight:bold;color:vars.$red;}
        }
        @include mixins.on-hover;
      }
      details{
        &:has(.apply),
        &:has(.check),
        &:has(.ready){& summary h4::after{
        position:relative;top:-2px;@include mixins.shape(5px,5px);background-color:vars.$red;border-radius:50%;margin-left:5px;}}
        ul{border-bottom:1px solid #ebebeb;}
        li{display:flex;gap:20px;min-height:33px;padding:8px 9px 8px 20px;@include mixins.on-hover;
          i{margin-top:3px;font-size:0;}
        }
      }
      .user_photo{width:22px;height:22px;margin-left:auto;}
    }
    $_projStep:('proposal':#c3f0d3,'start':#c9dbf8,'analysis':#eedcff,'plan':#f8dac9,'build':#c6ebe4,'test':#d1d3fd,'edu':#daefb8,'completion':#eee1d8,'report':#f8ee95,'etc':#eaedf1);
    .tags{margin-right:3px;
      i{@include mixins.badge_style();margin-right:0;padding:0 5px;font-size:11px;line-height:13px;font-weight:bold;
        @each $type, $color in $_projStep{
          &.#{$type}{margin-right:3px;border-color:darken($color,5);background-color:$color;color:darken($color,50);}
        }
      }
    }
    .badge{@include mixins.badge_style(null, 50px);flex-shrink:0;line-height:16px;margin-right:5px;
      @each $type, $color in $_projStep{
        &.#{$type}{border-color:darken($color,5);background-color:$color;color:darken($color,50);font-weight:bold;}
      }
    }    
    .article_body{@include mixins.flex_between;align-items:stretch;background-color:#edf0f3;
      .lst_header{@include mixins.flex_between;height:42px;padding:0 12px;border:1px solid #ebebeb;border-width:1px 0;margin-bottom:0;}
      .left_section{min-width:450px;flex:0 1 800px;border-right:1px solid #ebebeb;background-color:#fff;}
      .right_section{flex:1;min-width:400px;
        .rfp_dtl,.task_dtl{background-color:#fff;}
        .date{color:#b5b4b4;font-size:13px;}
        .apply_status{@extend .ico_proj;
          i::before{margin-top:-1px;}
        }
      }
    }
    header{padding-left:10px;
      &+.referrer_act{margin:-10px 10px 10px;padding:5px;padding-top:10px;}
      h1{
        i{vertical-align:middle;}
        &::before{display:none;}
      }
    }
    .work_form{padding:15px 12px vars.$columnGap;@include mixins.proj_view_defaultH(85px);
      header{position: relative;
        .user_module{position:absolute;right:0;top:0;}
      }      
      h1{display:flex;flex-direction:column;align-items:start;gap:5px;
        span{@extend %type;width:50px;font-size:11px;padding:2px 3px 0;border-radius:3px;text-align:center;}
      }
      .set_list{@include mixins.set_list(1);margin:0 0 20px;       
        .rel_doc{align-self:flex-start;line-height:28px;}
        .rel_doc + dd{display:flex;flex-flow:column wrap;gap:5px;
          label{white-space:nowrap;padding-left:15px;font-size:12px;color:#999;margin-left:auto;}
        }
        a:hover{text-decoration:underline;}
      }
      & + .work_set{margin-top:0;
        &>:first-child{margin-top:0;}
      }
      .work_dot_wrap{grid-template:auto/120px 1fr;align-items:baseline;position:relative;
        @include mixins.tit_bullet('dt', 3);
        dt{font-size:13px;font-weight:normal;color:#000;}
        dd{display:flex;align-items:center;min-height:28px;color:#71798a;
          &.ico_proj{font-size:11px;color:#000;padding-top:3px;}
          &.multi_line{display:block;padding-top:4px;}
        }
      }
    }
    .change_history{margin-top:30px;
      .lst_header{margin-bottom:0;border-bottom-width:0;}
    }
    .cmt_lst{background-color:#f9f9f9;
      &:empty::after{@include mixins.empty_box('요청 내역이 없습니다.');margin:7px 15px;background-color:transparent;}
      li{padding:7px 15px;border-top:1px solid #ebebeb;}
      .cmt_user{display:flex;gap:10px;align-items:center;
        .cmt_date{font-size:11px;margin-top:2px;}
        .state{margin-left:auto;span{align-self:center;}}
        .btn_wrap{margin-left:auto;}
        .user_photo{width:21px;height:21px;}
        .cmt_date{font-size:11px;color:#b5b4b4;}
        button{font-size:12px;padding:0 4px;line-height:17px;white-space:nowrap;}
      }
      .changes,
      .cmt_reject{margin-left:8px;color:#71798a;}
      .changes{margin-top:10px;border-left:3px solid #aab3c8;padding:0 8px;line-height:1.5;
        dl{display:grid;grid-template-columns:70px 1fr;row-gap:5px;}
        dt{font-weight:700;}
        .ico_proj i{font-size:0;
          &::before{line-height:15px;margin-top:0;}     
        }
      }
      .cmt_reject{background-color:#ebebeb;border-radius:3px;margin-top:5px;padding:5px 12px;}
    }
  }    
  //wbs
  .cal_wbs{@include mixins.proj_view_defaultH(vars.$columnGap);}
  // 리스크
  .risk{
    .btn_switch{
      label::before{font-size:16px;}
      .opened::before{@include mixins.fontello('\eb82');}
      .closed::before{@include mixins.fontello('\eb83');}
    }
    .risk_num{color:vars.$skyblue;font-weight:700;margin-right:5px;
      &::before{content:'[';}
      &::after{content:']';}
    }    
    .rfp_step{flex:0 0 auto;}
    .lst_wrap .search_list{padding:0 10px;margin:0;
      select{border-width:0;}
    }
    .tbl_list{@include mixins.proj_view_defaultH(93px);
      &>li{gap:40px;@include mixins.on-hover();padding:10px 21px;
        input[type=checkbox]{align-self:center;}
        .dsc{flex:1;}
        h3{display:flex;align-items:center;gap:10px;font-size:14px;font-weight:bold;
          &::before{@include mixins.fontello('\eb82');font-size:16px;color:vars.$red;}
        }
        .txt_info{display:grid;row-gap:3px;grid-template-columns:80px 150px;
          dt{word-spacing:21px;letter-spacing:2px;color:#333;}
          dd{color:#888;
            a:hover{text-decoration:underline;color:vars.$blue;}
          }
        }
      }     
      .risk_done,
      .risk_done:hover{background-color:#f5f5f5;color:#888;
        h3::before,
        .risk_num{color:#888;}
        h3::before{content:"\eb83";}
      }
    }
    .rfp_step{flex:0 0 auto;}
    .ballon_wrap{@include mixins.flex_between;align-items:start;margin-bottom:15px;
      .user_module{flex:0 0 100px;flex-direction:column;align-items:center;gap:3px;margin-top:5px;
        .user_photo{width:28px;height:28px;}
        b{align-self:center;}
      }
      .ipt_lst{gap:3px 15px;
        .risk_id{flex:0 1 120px;}
      }
      .ballon_body{position:relative;flex:1;margin-left:5px;border-radius:5px;
        &::before,
        &::after{position:absolute;content:'';top:21px;left:0;width:0;height:0;border:9px solid transparent;border-left:0;border-right-color:#ccc;margin-top:-10px;margin-left:-8px;}
        &::after{top:20px;margin-top:-9px;margin-left:-7px;border-right-color:#f6f8fa;}
        .file_attach{margin-bottom:10px;}
        header{@include mixins.flex_between;padding:7px 10px;border:1px solid #ccc;background-color:#f6f8fa;border-radius:5px 5px 0 0;
          &>div:has(h1>input){flex:1;
            h1,input{width:100%;}
          }
          h1{font-size:14px;font-weight:bold;}
          &+div{padding:10px;border:1px solid #ccc;border-top-width:0;background-color:#fff;
            h2{margin-bottom:5px;font-weight:bold;}
            .file_attached{padding:0 10px;background-color:#f6f8fa;}         
            &+ul{@include mixins.flex_between;width:100%;flex-direction:column;gap:10px;margin-top:15px;
              li{align-self:stretch;padding:0;}
            }
          }
          span{font-size:12px;color:#555;}
        }
        .ballon_txt{margin-top:10px;padding:10px 2px 15px;@include mixins.proj_view_defaultH(199px,true);
          &+.btn_wrap{justify-content:flex-end;margin-top:5px;}
        }
        &:has(.editor_wrap){
          .ck-content{@include mixins.proj_view_defaultH(304px,true);}
          .btn_wrap{justify-content:flex-end;margin-top:5px;}
        }        
      }
    }
  }
  // 문서관리
  .doc{
    .tbl_wrap{@include mixins.proj_view_defaultH(62px);}
    .tbl_default td{@include mixins.alignL(3){max-width:450px;};
    }
  }
}