@use '../base/variables' as vars;
@use '../base/mixin' as mixins;

//badge
.badge{@include mixins.badge_style();
  &.draft{@include mixins.badge_color(vars.$draft)} 
  &.ing{@include mixins.badge_color(vars.$ing)} 
  &.approve,&.fin{@include mixins.badge_color(vars.$fin)} 
  &.agree{@include mixins.badge_color(vars.$agree)} 
  &.return,&.repair,&.reject{@include mixins.badge_color(vars.$reject)} 
  &.ready,&.wait{@include mixins.badge_color(vars.$wait)} 
  &.defer{@include mixins.badge_color(vars.$defer)} 
  &.done{@include mixins.badge_color(vars.$done)} 
  &.cc{@include mixins.badge_color(vars.$cc)} 
  &.apply{@include mixins.badge_color(vars.$blue)}
  &.default{@include mixins.badge_color(#b6b6b6)}
}
.i_badge{@include mixins.shape(20px,20px);display:inline-flex !important;align-items:center;justify-content:center;border:1px solid transparent;line-height:20px !important;border-radius:50%;vertical-align:middle;
  &::before{font-size:14px;}
}
.public{background-color:#fff;border-color:#7d879f!important;color:#7d879f !important;}
.private{background-color:#aab3c8;color:#fff !important;}
.tags{
  i{@include mixins.badge_style(){background-color:#aab3c8;padding:0 5px;font-size:11px;line-height:13px;}}
  &:is(span){display:inline-block;line-height:16px;margin-right:5px;margin-top:5px;border-radius:3px;background-color:#aab3c8;
    i{margin-left:0;
      &+button.btn_deltag{font-size:0;
        &::before{@include mixins.fontello('\eb2e');margin-right:5px;font-size:10px;color:#fff;vertical-align:middle;}
      }
    }
  }
}
.tbl_badge{@extend .badge;width:50px;min-width:50px;font-size:11px;font-weight:bold;}
