//badge
.i_badge{@include shape(20px,20px);display:inline-flex !important;align-items:center;justify-content:center;border:1px solid transparent;line-height:20px !important;border-radius:50%;vertical-align:middle;
  &::before{font-size:14px;}
}
.tag_pm{@include badge_style(null,22px){position:relative;top:2px;background-color:#ffc938;color:#000;line-height:14px;font-size:10px;border-radius:0;font-weight:bold;}}
.tbl_wrap .ico_org{font-size:0;}
// ico_fontello
.ico_org{vertical-align:middle;
  &::before{font-size:17px;vertical-align:middle;}
  &.use::before{@include fontello('\e903');color:#00b5da;} 
  &.wait::before{@include fontello('\eb74');color:#f0a44f;}
  &.suspension::before{@include fontello('\eb6f');color:#ff6363;}
}
.draft{@include badge_color($draft)} // 상신
.ing{@include badge_color($ing)} // 진행중 수행중 진행 결재진행
.approve,
.fin{@include badge_color($fin)} // 수락 승인 결재완료 종료
.agree{@include badge_color($agree)} // 합의
.return,
.repair,
.reject{@include badge_color($reject)} // 회수 반려
.ready,
.wait{@include badge_color($wait)} // 준비 결재대기
.defer{@include badge_color($defer)} // 후결대기
.done{@include badge_color($done)} // 전결 후결 참조완료
.cc{@include badge_color($cc)} // 참조 미확인
.default{@include badge_color(#b6b6b6)}
.public{background-color:#fff;border-color:#7d879f!important;color:#7d879f !important;}
.private{background-color:#aab3c8;color:#fff !important;}
.tags{
  i{@include badge_style(){background-color:#aab3c8;padding:0 5px;font-size:11px;line-height:13px;}}
  &:is(span){display:inline-block;line-height:16px;margin-right:5px;margin-top:5px;border-radius:3px;background-color:#aab3c8;
    i{margin-left:0;
      &+button.btn_deltag{font-size:0;
        &::before{@include fontello('\eb2e');margin-right:5px;font-size:10px;color:#fff;vertical-align:middle;}
      }
    }
  }
}