//btn
.tool_wrap,
.btn_wrap{display:flex;gap:4px;align-items:center;
  .more{color:#9ea4ae;letter-spacing:-.3px;font-size:12px;font-weight:bold;
  &:hover{color:#777;}}
  select,input{width:auto;}
}
.btn_more{@include img_btn(14px,14px,'ic_more.png');}
.btn_tgl{display:inline-block;position:relative;width:31px;height:17px;background-color:#999;border-radius:28px;vertical-align:middle;padding:0 5px;box-sizing:border-box;font-size:0;border:1px solid;overflow:hidden;outline:none;border-color:#999;text-align:left;line-height:34px;
  &[disabled]{cursor:default;}
  &::before{position:absolute;top:2px;right:16px;display:inline-block;content:"";width:11px;height:11px;background-color:#fff;border-radius:50%;transition:.1s;}
  &::after{position:relative;top:-4px;left:0;font-size:12px;color:#fff;}
  &[data-value="on"]{background-color:#e42b29;border-color:#e42b29;
    &::before{right:2px;}
    &::after{padding-right:6px;float:right;}
  }
  &[data-value="off"]{background-color:#999;border-color:transparent;
    &::before{right:16px;}
    &::after{left:0;}
  }
}
.btn_download{@include ico_only('\eb8d');}
.btn_back{@include ico_only('\e9ac');align-self:flex-end;
  &::before{font-size:20px;}
}
.btn_attached{@include ico_only('\e93a');font-size:12px;
  &::before{font-size:16px;margin-right:5px;vertical-align:middle;line-height:1;}
  &:hover,&:hover::before{color:$blue;}
}
.btn_modify{@include ico_only('\f14b');
  &::before{font-size:16px;}
}

// admin : 관리자 추가 일정, personal : 개인, meeting : 회의, event : 행사, attendance :근태
.select_custom{position:relative;cursor:pointer;background:url(../images/btn_select.png) right 8px center no-repeat,rgba(255,255,255,.9);border:1px solid #cccccc;border-radius:2px;vertical-align:middle;min-width:60px;
  &.active{
    &:focus-within{z-index:9999;
      &>.label{background:url(../images/btn_select.png) right 8px center no-repeat,#f8f8f8;}
      .optionList{max-height:500px;top:calc(100% + 1px);}
    }
    & > ul{border-width:0 1px 1px;}
  }
  .label{align-items:center;display:flex;gap:8px;width:100%;height:26px;padding-left:5px;cursor:pointer;text-align:left;}
  &>ul{position:absolute;top:100%;left:-1px;width:calc(100% + 2px);max-height:0;border:1px solid #ccc;border-width:0 1px;background:#fff;color:#000;list-style-type:none;overflow:hidden;
    &>li{display:flex;align-items:center;gap:8px;position:relative;border-bottom:1px dashed #cccccc85;transition:.1s;line-height:26px;padding:0 10px;      
      &.disabled{background-color:#eee;cursor:not-allowed;color:#aaa;
        &:hover{background:#eee;}
      }
      &:hover{background:#f5f5f5;}
      &:last-child{border-bottom-width:0;}
    }
  }
  i{display:flex;align-items:center;font-size:0;}
  &.prio{width:90px;}
  &.meeting_room{width:230px;
    i{width:15px;height:15px;top:0;}
    @each $type, $color in $_roomType{
      .room#{$type}{background-color:$color;}
    }
  }
  &.plan_tit_type{width:100px;
    i{width:15px;height:15px;top:0;}    
    @each $type, $color in $_planType{
      .s_#{$type}{background-color:$color;}
    }
  }
  &.task_status{display:inline-flex;width:80px;padding:0;border-width:0;
    & > ul{display:flex;flex-direction:column;border-width:0 1px;left:0;
      li{padding:0 4px;
        &:first-child{border-top:1px solid #ccc;}
        &:last-child{border-bottom:1px solid #ccc;}
      }
    }
    .label{height:auto;}
    span{display:inline-block;width:45px;max-width:45px;line-height:13px;color:#fff;text-align:center;border-radius:5px;align-self:center;letter-spacing:-.25px;padding:3px 5px;font-size:12px;margin:3px 0;font-weight:700;}
    @each $type, $color in $_taskType{
      .task_#{$type}{background-color:$color;}
    }
  }
}
span.meeting_room{ // select없이 회의실 정보만 적어야 할 경우(브리핑 보드 상세 참고)
  i{display:inline-block;width:15px;height:15px;top:0;font-size:0;width:15px;height:15px;vertical-align:middle;margin-right:5px;}
  @each $type, $color in $_roomType{
    .room#{$type}{background-color:$color;}
  }
}
$prio_fontSize:20px;
.high_prio::before{@include fontello('\f102');color:$red;font-size:$prio_fontSize;}
.normal_prio::before{@include shape(14px, 7px);border:2px solid $yellow;border-width:2px 0;margin-top:1px;}
.low_prio::before{@include fontello('\f107');color:$blue;font-size:$prio_fontSize;}.btn_scroll {position:fixed;z-index:9998;width:40px;height:40px;bottom:9%;right:2%;border-radius:50%;background-color:$red;font-size:0;color:#fff;transition:0.5s;box-shadow:1px 1px 10px #b8b8b8;opacity:0;cursor:pointer;
  &::before{@include fontello('\eb3d');font-size:17px;}
  &:hover{background-color:darken($red, 5%);}
}
.btn_scroll {position:fixed;z-index:9998;width:40px;height:40px;bottom:1%;right:2%;border-radius:50%;background-color:$red;font-size:0;color:#fff;transition:0.5s;box-shadow:1px 1px 10px #b8b8b8;opacity:0;cursor:pointer;
  &::before{@include fontello('\eb3d');font-size:17px;}
  &:hover{background-color:darken($red, 5%);}
}
.btn_scroll.show {transition:1s;opacity:1;}

.btn_red{@include full_btn($btn_red_line);}
.btn_workset .btn_default,
.btn_red_line{@include btn($btn_red);
  &:disabled{@include btn($btn_gray);cursor:not-allowed;
    &:hover{background:none;color:$btn_gray;}
  }
}
.btn_gray{@include full_btn($btn_gray);}
.btn_dplc,
.btn_default,
.btn_gray_line{@include btn($btn_gray);color:#565656;}
.btn_ogt{@include btn(#aaa);color:#111;background-color:#ebebeb;cursor:pointer;}
.btn_form{@include form_btn;
  &:hover{background-color:$btn_gray;}
}
.btn_more{@include img_btn(14px,14px,'ic_more.png');margin-left:3px;}
.myform_set{@include shape(24px,24px);background-color:#e0e0e0;border-radius:5px;text-align:center;
  &::before{@include fontello('\ea7d');font-size:16px;color:#848890;line-height:23px;}
  &:hover{outline:4px solid #bec7d2;background-color:transparent;}
}
.i_refresh{@include shape(20px,20px);background-color:#e0e0e0;border-radius:5px;text-align:center;
  &::before{@include fontello('\e8a7');font-size:14px;color:#848890;line-height:20px;}
  &:hover{outline:4px solid #bec7d2;background-color:transparent;}
}
.myappr_del{font-size:0;
  &::before{@include fontello('\e92a');margin-right:5px;font-size:16px;color:#b3b3b3;}
  &:hover::before{color:#353535;}
}
.btn_search_square{@include btn_square('\e802');}
.btn_more_square{@include btn_square(null);position:relative;
  &::before,
  &::after{@include shape(12px, 2px);position:absolute;left:50%;top:50%;transform:translate(-50%,-50%); border-radius:1px;background-color:#848890;}
  &::after{transform:rotate(90deg);left:25%;top:45%;}
}
.btn_tree{@include form_btn;color:#979797;border-color:#b4b4b4;background-color:#f7f7f7;cursor:pointer;font-weight:bold;
  &:hover{background-color:$btn_gray;}
}
.btn_approval{@include form_btn;color:#fff;border-color:$btn_red;background-color:#ff949c;font-weight:bold;
  &:hover{background-color:$btn_red;}
}
.btn_switch{display:flex;padding:2px;
  $unselectedColor:#cbcbcb;$hoverColor:#868686;
  label{display:flex;flex-wrap:wrap;align-items:center;justify-content:center;gap:5px;position:relative;left:-1px;min-width:70px;padding:3px 10px 4px;border:1px solid $unselectedColor;font-size:13px;font-weight:bold;color:$unselectedColor;z-index:100;white-space:nowrap;
    &::before{line-height:17px;}
  }
  input{position:absolute;opacity:0;width:0;height:0;
    :not(&:disabled),
    :not(&:read-only){&:hover+label{border-color:$hoverColor;color:$hoverColor;cursor:pointer;}}
    :not(&:checked)+label::before{color:$unselectedColor;border-color:$unselectedColor;}   
    &[type="radio"]:checked,
    &[type="checkbox"]:checked{
      &+label{border-color:#000;color:#000;transition:0.5s;}
    }
  }
  &.btn_switch_s{
    label{min-width:60px;padding:0 5px;font-size:12px;}
  }
  &.border_none{
    label{border-width:0;}
    :checked+label em{color:$red;}
  }
  .desc{line-height:29px;margin-left:10px;font-size:12px;color:#989898;
    &::before{content:'※';margin-right:3px;}
  }
  &.after_svc{overflow:hidden;align-items:center;
    &.divide::after{@include shape(1px, 15px);background-color:#ccc;margin-left:4px;}
    label{padding:2px 8px 3px;min-width:auto;background-color:#fff;color:#565656;
      &:first-of-type{border-radius:3px 0 0 3px;}
      &:last-of-type{border-radius:0 3px 3px 0;}
    }
    input{
      &[type="radio"]:checked,
      &[type="checkbox"]:checked{
        &+label{border-color:#ff5c5c;background-color:#ff7575;color:#fff;transition:0.5s;}
      }
    }
  }
}
.btn_switch_single{text-align:center;
  &>label{position:relative;display:block;width:100%;line-height:26px;font-size:13px;
    &:has(input[type=checkbox]:checked){background-color:$gray;color:#fff;}
  }
  input[type=checkbox]{position:absolute;width:0px;height:0px;overflow:hidden;opacity:0;}
  &+button{width:100%;margin-top:5px;}
  &+.period_custom{display:none;}
}
.btn_switch_single.pin{
  label{width:25px;height:25px;font-size:0;line-height:1.2;border-radius:50%;}
  label::before{@include fontello('\e93f');font-size:16px;line-height:25px;color:#A1ABC2!important;}
  input:checked+label::before{@include fontello('\e940');}
  label:hover{background-color:#f5f5f5;}
}
.btn_switch_single.fold{
  label{display:inline-block;width:30px;height:30px;font-size:0;line-height:1.2;border-radius:50%;text-align: center;}
  label::before{@include fontello('\e819');font-size:16px;line-height:30px;color:#A1ABC2!important;}
  input:checked+label::before{@include fontello('\e81b');}
  label:hover{background-color:#f5f5f5;}
}
.btn_toggle_single{display:inline-flex;flex-shrink:0;justify-content:center;vertical-align:middle;
  $unselectedColor:#999;$hoverColor:#868686;$selectColor:$tomato;
  input{position:absolute;opacity:0;width:0;height:0;appearance:none;outline:none;box-shadow:none;vertical-align:middle;
    &+label{position:relative;left:-1px;width:31px;height:17px;cursor:pointer;z-index:100;background-color:$unselectedColor;border-radius:28px;word-break:keep-all;white-space:nowrap;
    vertical-align:middle;outline:none;cursor:pointer;letter-spacing:-.05em;font-size:0;
      &::before{position:absolute;top:3px;right:17px;display:inline-block;content:"";width:11px;height:11px;background-color:#fff;border-radius:50%;transition:.05s;}
    }
    &:hover+label{box-shadow:0 0 3px $selectColor;}
    &:not(&:checked):hover+label{box-shadow:0 0 3px $unselectedColor;}   
    &:checked+label{transition:0.5s;background-color:$selectColor;
      &::before{right:3px;}
    }   
  }
  [data-label]::after{position:absolute;right:calc(100% + 3px);content:attr(data-label);font-size:11px;line-height:17px;}
}
[data-selectTarget]{display:none;}
.period_group{@include btn_switch_group(#ff959d,#f25460,#d93945);width:118px;}
.file_input + .btn_slideclose{margin-top:5px;}
.btn_slideclose{display:flex;flex-wrap:wrap;justify-content:flex-start;gap:5px;overflow:hidden;
  & > li{display:inline-block;position:relative;
    & > div:first-child{position:relative;background:#ececec;border-radius:3px;overflow:hidden;
      button{position:absolute;top:0;right:-13px;width:13px;height:100%;background:#8e8e8e;color:#fff;line-height:23px;font-size:0;transition:.3s;
        &::after{@include fontello('\eb2e');font-size:12px;}
      }
      p{padding:2px 10px;color:#717889;transition:.3s;}
      &:has(button):hover{background-color:#dbdbdb;
        button{right:0;}
        p{padding-left:5px;padding-right:15px;}
      }
    }    
    &:hover{.tooltip{visibility:visible;}}
  }
  &.btn_slideclose_s{
    div:first-child{
      p{padding:0 8px;font-size:10px;}
      &:hover{
      p{padding-left:8px;padding-right:8px;}
      }
    }
  }
  &.disabled{
    button{display:none;}
    .tagItem:hover{
      button{right:-13px;}
      p{padding-left:10px;padding-right:10px;}
    }
  }
}
.i_public{@include ico_only('\f064');}
.i_private{@include ico_only('\f512');&::before{font-size:14px;width:15px;text-align:center;}}
.i_ex{@include ico_only('\e877');}
.tagItem{font-size:12px;}
.tooltip{position:absolute;top:calc(100% + 5px);right:0;background-color:$white;padding:3px 5px;border:1px solid #ccc;box-shadow:1px 1px 1px rgba(0,0,0,.3);z-index:1000;visibility:hidden;transition-delay:.3s;width:max-content;
  *{flex-shrink:0;}
}
legend{@include tit{font-weight:bold;};}
.tool_lst{display:inline-flex;gap:10px;
  li{display:flex;gap:5px;align-items:center;}
  label{color:#000;}
}
