@use '../base/variables' as v;
@use '../base/mixin' as m;

/* multi file */
.file_input{display:flex;gap:4px;
  &:has(.MultiFile-wrap){width:100%;}
  &>input:not([type="checkbox"]),
  &>select{flex:1;}
  &>input,
  .full{flex:1;}
  &>[list]{min-width:50%;}
  &>*{flex-shrink:0;width:auto;align-self:center;vertical-align:middle;white-space:nowrap;}
  &>.btn_slideclose{margin-top:0;}
  &.inline{display:inline-flex;}
  a{display:flex;gap:4px;
    &:hover em{color:v.$blue;text-decoration:underline;}
  }
  .sep{color:#777;}
  .label_badge{display:inline-block;color:v.$red;font-weight:600;text-align: center;font-size:11px;background-color:#fef5ee;border-radius:10px;}
}
.MultiFile-wrap{width:100%;
  .multi{position:relative;width:72px;height:28px;float:right;overflow:visible;border-color:#aaa;
    &::before{position:absolute;content:'파일선택';top:-1px;left:-1px;width:72px;line-height:28px;padding:0 10px;background-color:#ebebeb;cursor:pointer;}
  }
  .MultiFile-list{width:calc(100% - 76px);min-height:28px;margin-right:4px;padding:0 5px 5px;border:1px solid #c5c5c5;border-radius:2px;
    .MultiFile-remove{@include m.shape(12px,24px);
      &::before{@include m.fontello('\e928');font-size:13px;color:v.$red;} 
    }}
  .MultiFile-label{display:flex;flex-direction:row-reverse;gap:5px;margin-top:5px;
    & > span{flex-grow:1;line-height:1.4;}
  }
}

.file_attach{position:relative;display:flex;align-items:center;min-height:70px;border:2px dashed #ebebeb;background-color:#fff;}  
.drop_zone,
.attach_zone{padding:0 15px;align-self:flex-start;}
.attach_list{padding-bottom:10px;}
.empty_box .attach_list:empty::before{@include m.empty_box('첨부된 파일이 없습니다');}
.attach_list li{position:relative;display:flex;gap:5px;margin-top:10px;padding:0;border-top:none;z-index:1000;text-align:left;line-height:17px;
  &::before,
  &::after{display:none;}
}
.file_attach:hover{border-color:#ccc;}
.file_attach .drop_info{position:absolute;left:0;top:50%;transform:translateY(-50%);display:flex;gap:30px;align-items:center; color:#989898;text-align:left;word-break:keep-all;font-size:12px;line-height:15px;letter-spacing:-.3px;padding:0 15px;
  &::before{display:flex;align-items:center;width:101px;height:36px;border:2px solid #d83d48;border-radius:5px;background:url(../images/ic-file.png) 11px 50% no-repeat,#fff;content:"파일선택";color:#f05050;padding:0 14px 0 43px;}
  p{flex-grow:1;}
  span{color:#000;}
}
.attach_thumb{display:block;max-width:20px;max-height:20px;}
.btn_file_wrap,
.file_attach{overflow:hidden;position:relative;text-align:center;}
.btn_file_wrap{
  input::-webkit-file-upload-button{cursor:pointer;}
  &:hover{.btn_red{background-color:#fff;color:v.$red;}}
}
.btn_file_wrap .btn_file,
.file_attach .btn_file{position:absolute;top:-1px;left:-1px; right:-1px;bottom:-1px;border:none;opacity:0;filter:alpha(opacity=0);cursor:pointer;outline:none;z-index:100;}
.file_del{@include m.shape(15px,17px);flex-shrink:0;
  &::before{@include m.fontello('\e928');font-size:13px;color:v.$red;line-height:17px;} 
}

  .prog-wrap{display:none;margin-top:8px}
  .prog-info{display:flex;gap:6px;align-items:center;font-size:12px;color:var(--color-text-secondary);margin-bottom:4px}