@use '../base/mixin' as *;

 .tooltip_trigger{position:relative;display:inline-flex;align-items:center;
    &::after{@include fontello('\e877');color:#999;cursor:default;margin-left:2px}
    &:is(:focus-within,:hover){
      .tooltip_box{display:block;}
      &::after{color:#666}
    }
  }
  .tooltip_box{display:none;position:absolute;bottom:calc(100% + 6px);right:0;background:#fff;border:1px solid #ddd;border-radius:4px;padding:6px 10px;font-size:12px;white-space:nowrap;z-index:10;pointer-events:none}